[2018-12-17 09:45] sylvainjule opened #1 "Make sure all options are working"
I leave `buttons` out of this list, while we're figuring out how to handle them.

- [x] `autofocus`
- [x] `counter`
- [x] `default`
- [x] `disabled`
- [x] `help`
- [x] `icon`
- [x] `label`
- [x] `maxlength`
- [x] `minlength`
- [x] `placeholder`
- [x] `required`
- [x] `size`
- [x] `translate`
- [x] `width`

[2018-12-17 10:07] sylvainjule opened #2 "Add toolbar and basic shortcuts"
Start by adding the exact same as the `textarea` field:

**1. Toolbar**

- [x] headlines
  - [x] H1
  - [x] H2
  - [x] H3
- [x] bold
- [x] italic
- [x] link
- [x] email
- [x] code
- [x] ul
- [x] ol

**2. Shortcuts**

- [x] Bold (`Cmd` + `b`)
- [x] Italic (`Cmd` + `i`)
- [x] Link (`Cmd` + `l`)
- [x] Email (`Cmd` + `e`)

[2018-12-17 20:59] sylvainjule commented on #1
All good ✅

[2018-12-17 20:59] #1 closed

[2018-12-17 21:00] sylvainjule commented on #1
Remaining option to deal with: `buttons`

Related: https://github.com/sylvainjule/kirby-markdown-field/issues/2

[2018-12-19 09:15] sylvainjule opened #3 "License"
@fabianmichael MIT license works for you?

[2018-12-19 12:32] sylvainjule commented on #2
All good ✅

A bit more details about my implementation:

### Toolbar
Component: https://github.com/sylvainjule/kirby-markdown-field/blob/master/src/components/toolbar/MarkdownToolbar.vue

The toolbar markup is the same as the `textarea` toolbar, with and added `k-markown-toolbar` class for further styling if needed. So it's sharing its style for consistency, but that's about it about the similarit

[2018-12-19 12:32] #2 closed

[2018-12-19 12:38] sylvainjule opened #4 "Fine-tune headlines option"
Allow dev to either register the whole headlines dropdown:

[code]

Or limit the displayed headlines (would still be grouped under the headlines dropdown):

[code]

[2018-12-19 12:39] sylvainjule opened #5 "Specific headline icons"
Register a `h1`, `h2`, `h3`, `h4`, `h5` and `h6` icon for improved clarity.

[2018-12-19 12:41] sylvainjule opened #6 "Fine-tune code wrapping"
If single-line: wrap it with 1 backtick (current behaviour)

If multiline (code block): wrap it with 3 backticks.

[2018-12-19 13:11] sylvainjule opened #7 "Add blockquote button"

[2018-12-19 13:12] sylvainjule opened #8 "Add page selector button"
A really nice feature of https://github.com/medienbaecker/kirby-simplemde.

[2018-12-19 13:13] sylvainjule opened #9 "Add horizontal-rule button"

[2018-12-19 13:19] sylvainjule opened #10 "Focus is lost after adding link / email"
Somehow focus isn't restored correctly after adding a link or email with their dialog.

[2018-12-19 14:52] sylvainjule commented on #7
https://github.com/sylvainjule/kirby-markdown-field/commit/aa39964eacf116841aa05f88bd55493ec59903b0

[2018-12-19 14:52] #7 closed

[2018-12-19 15:32] sylvainjule commented on #9
https://github.com/sylvainjule/kirby-markdown-field/commit/f8fba6bcca7cff1604133fcf325e2da4fcd9dd70

[2018-12-19 15:32] #9 closed

[2018-12-19 15:41] sylvainjule commented on #6
https://github.com/sylvainjule/kirby-markdown-field/commit/9cf231d75cfff36c89c51c30ed06591502cf723f

[2018-12-19 15:41] #6 closed

[2018-12-19 16:22] sylvainjule commented on #4
https://github.com/sylvainjule/kirby-markdown-field/commit/bf8bfc3e87c3b3463b92ea646dc7496f9a583b22

<img width="312" alt="capture d ecran 2018-12-19 a 17 21 01" src="https://user-images.githubusercontent.com/14079751/50232969-a9d6cf00-03b2-11e9-8c09-578f9b4901b4.png">

[2018-12-19 16:22] #4 closed

[2018-12-19 16:28] sylvainjule opened #11 "Add option for h4, h5 and h6"

[2018-12-19 16:49] sylvainjule commented on #11
https://github.com/sylvainjule/kirby-markdown-field/commit/d16df579716970153081ef435ad8820488a39afe

<img width="317" alt="capture d ecran 2018-12-19 a 17 46 06" src="https://user-images.githubusercontent.com/14079751/50234619-5fefe800-03b6-11e9-9fd4-c91235310eb0.png">

[2018-12-19 16:49] #11 closed

[2018-12-19 21:53] sylvainjule commented on #5
Might be temporary (hard to make them consistent with the rest of the buttons in a 1rem-wide icon), but fixed.

https://github.com/sylvainjule/kirby-markdown-field/commit/3127ef76ef645ee08e6e8edbf5fb51bd9eb5b5f5

<img width="316" alt="capture d ecran 2018-12-19 a 22 47 24" src="https://user-images.githubusercontent.com/14079751/50250358-d30e5400-03e0-11e9-9a9d-9a9b6a0ab012.png">

[2018-12-19 21:53] #5 closed

[2018-12-20 07:14] sylvainjule commented on #10
Happens also with the `textarea` field, opened an issue: https://github.com/k-next/kirby/issues/1282

[2018-12-20 07:26] sylvainjule opened #12 "Add option to disable modals for link / email"
`modals: true`
Current behaviour, like the `textarea` field.

`modals: false`
No modals and automatic link/email detection when selecting text and using the link or email button, like https://github.com/medienbaecker/kirby-simplemde

[2018-12-20 07:36] sylvainjule opened #13 "Automatic detection for link / email modals"
Currently, any text selected before clicking the button will fill the `text` field of the modal.

We should add some automatic detection in case the selected string is an url / email, and fill the `link` / `email` field of the modal instead.

[2018-12-20 08:01] sylvainjule commented on #13
https://github.com/sylvainjule/kirby-markdown-field/commit/22c6ec7ffed7b95dd208c181dcc802e416e4ed7a
https://github.com/sylvainjule/kirby-markdown-field/commit/c015c13d716469dd9ad6bf2a56ac3ac65aa18fbd

[2018-12-20 08:01] #13 closed

[2018-12-20 12:04] sylvainjule commented on #10
https://github.com/sylvainjule/kirby-markdown-field/commit/9aaf43354ae7373556ba07ed13832bdddd9e4296

[2018-12-20 12:04] #10 closed

[2018-12-20 12:31] sylvainjule commented on #12
https://github.com/sylvainjule/kirby-markdown-field/commit/c35b7a02a1ed04a31619b1dc6334d55055472fbe

[2018-12-20 12:31] #12 closed

[2018-12-20 12:40] sylvainjule opened #14 "Add an optional target blank toggle in link dialog"

[2018-12-20 13:14] sylvainjule commented on #14
https://github.com/sylvainjule/kirby-markdown-field/commit/6a6d3866b63b8b87efd5cba9570f365ccff8c060

<img width="549" alt="capture d ecran 2018-12-20 a 14 12 13" src="https://user-images.githubusercontent.com/14079751/50287034-8d45a000-0461-11e9-8b40-927a1774c0ac.png">

[2018-12-20 13:14] #14 closed

[2018-12-20 14:46] fabianmichael opened #15 "Add highighting for Kirbytext"
Implement proper highlighting for CodeMirror that supports Markdown, HTML and Kirbytags.

[2018-12-20 14:48] fabianmichael opened #16 "Add "render invisibles/whitespace" option"
Implement the possibility of making whitespace visible in the editor (basically what every IDE or code editor offers). This also includes line-breaks in Markdown created by adding 2 spaces at the end of a line.

Later on, we can add a button to the toolbar to toggle this feature.

[2018-12-20 14:49] fabianmichael opened #17 "Text styles for editor content"
Implement text styles for both monospace and sans-serif fonts available within the editor.

[2018-12-20 14:51] fabianmichael opened #18 "Prepare autocomplete API for editor"
Make CodeMirror aware of Kirbytags and implement an basic autocomplete feature, that will allow us to define simple rulesets for all built-in Kirbytags. This should be made available for user-generated Kirbytags later on.

[2018-12-20 14:52] fabianmichael commented on #3
I’m fine with that! :-)

[2018-12-20 14:58] sylvainjule commented on #3
Will add it then!

[2018-12-20 14:58] #3 closed

[2018-12-20 20:44] sylvainjule opened #19 "Add image selector button"
Display the file selection dialog, to pick from images uploaded in the page.

[2018-12-21 07:36] sylvainjule opened #20 "Headlines dropdown doesn't close on click inside the editor"

[2018-12-22 11:57] sylvainjule commented on #20
https://github.com/sylvainjule/kirby-markdown-field/commit/7ff9b55ca54b7bdd5633dd55d1f178a4a82abeb9

[2018-12-22 11:57] #20 closed

[2018-12-22 15:19] sylvainjule commented on #19
https://github.com/sylvainjule/kirby-markdown-field/commit/51c9711e8d63ae82394a08e6fe0f6206cc5a7960

![screen recording 2018-12-22 at 04 17 pm](https://user-images.githubusercontent.com/14079751/50375903-61631f80-0605-11e9-9b00-91fb954bb89a.gif)

[2018-12-22 15:19] #19 closed

[2018-12-22 16:11] sylvainjule opened #21 "Add file selector button"
Same as https://github.com/sylvainjule/kirby-markdown-field/issues/19, but applied to any file but images and inserting a `(file: )` tag.

[2018-12-23 12:52] sylvainjule commented on #16
https://github.com/sylvainjule/kirby-markdown-field/commit/6f6e5513b7d1e5cb4941c1f820314bf30e459f87

I've made the `invisibles` button an option and detached it from the other buttons.
Also added an `active` class.

![screen recording 2018-12-23 at 01 43 pm 1](https://user-images.githubusercontent.com/14079751/50383730-ec055680-06b9-11e9-92e2-abcbca38fb0b.gif)

[code]

[2018-12-27 12:02] medienbaecker opened #22 "Long content glitch"
Sometimes when I paste long content with a lot of formatting the upper half gets hidden. When triggering a rewrite via a click or browser resize, it gets fixed. Tested in latest Chrome, Firefox and Safari.

I have not yet found the exact length or formatting amount to reproduce it. You can find an example text on the bottom of this issue, though.

![markdown](https://user-images.githubusercontent.

[2018-12-27 12:08] medienbaecker opened #23 "Toggle formatting"
Triggering a format action on an already formatted text should toggle the formatting.

![bold2](https://user-images.githubusercontent.com/7975568/50479725-3ea38300-09d8-11e9-9bba-94482eaacb97.gif)

[2018-12-27 12:14] sylvainjule commented on #23
Yep, I agree.
First step was mimicking the textarea behaviour, I'll get on this next.

Clicking on an inline dropdown item should also place the # in front of the whole line, not the current caret position.

Should toggle:
- Bold
- Italic
- Headlines
- Blockquotes
- Ul (from list item to paragraph)
- Ol (from list item to paragraph)

We could also have an active state for buttons whose styles are

[2018-12-27 12:17] sylvainjule commented on #22
Are you using the latest version of the field?
This should have fixed it a few days ago: https://github.com/sylvainjule/kirby-markdown-field/commit/514f88ffc0d3f116cf1cfe2a930f4aa5477a6039

I haven't the issue anymore, no problem with your text.

[2018-12-27 12:30] medienbaecker commented on #22
Yes, I'm using the latest version. Just downloaded it again and reproduced it with the text from above.

I guess we need to find the differences between our setups/installations. Are you on a Mac? I can test it on a Windows PC.

[2018-12-27 12:44] sylvainjule commented on #22
Hmm. I'm also on a Mac (10.13.6), running a PHP 7.1.0 server with Mamp Pro, and having it successfully display on Chrome / FF / Safari, with the latest version on the field and latest RC.

One last thing to make sure the latest field is correctly running, has your `index.js` been rebuilt after updating the plugin? Have you or could you delete the `media/plugins/.index.js` file to force Kirby to re

[2018-12-27 13:07] sylvainjule opened #24 "Add a strikethrough button"
Optional, wraps any text with two tildes `~~`.

[2018-12-27 13:07] medienbaecker commented on #22
I'm on 10.14.2, but I don't think that makes a huge difference.

I have cleaned up the media folder, downloaded the RC2 plainkit again, installed the markdown field again. Still the same. Here's a zip of my installation: http://backofen.link/plainkit.zip

Just to make sure we're doing the same thing to reproduce it:
1. Open the page with the markdown field
2. Paste the text from above
3. Text is i

[2018-12-27 13:11] fabianmichael commented on #23
@sylvainjule Some of these features are in the VIsualMarkdown plugin for Kirby 2, we can probably re-use most of that code.

[2018-12-27 13:21] sylvainjule commented on #22
Thanks for your help reproducing this Thomas!

Should be fixed with : https://github.com/sylvainjule/kirby-markdown-field/commit/e68c5235fcbdfe1e1f52b49baf019342fc601e79

[2018-12-27 13:21] #22 closed

[2018-12-27 13:40] sylvainjule commented on #23
Oh nice, I'll look into it.

[2018-12-27 14:20] sylvainjule commented on #24
https://github.com/sylvainjule/kirby-markdown-field/commit/4865feb74431a48a874ab58c4826c26e2ca6578e

[2018-12-27 14:20] #24 closed

[2018-12-27 17:10] sylvainjule commented on #23
As a reminder,

**Buttons with specific actions, keep them as they are:**

- Horizontal rule
- Email
- File
- Image
- Link
- Pagelink

**Toggle character before the entire (/each) line:**

- [ ] Blockquote
- [ ] Headlines
- [ ] Ol
- [ ] Ul

**Toggle wrap:**

- [ ] Bold
- [ ] Italic
- [ ] Strikethrough
- [ ] Code

[2018-12-28 08:55] fabianmichael commented on #17
Done together with #15

[2018-12-28 08:55] #17 closed

[2018-12-28 08:55] #15 closed

[2018-12-28 11:44] sylvainjule commented on #23
Got started on an active state detection for buttons: https://github.com/sylvainjule/kirby-markdown-field/commit/6d365b233938cbf67eac76ce2d5886d948b672a9

![screen recording 2018-12-28 at 12 38 pm](https://user-images.githubusercontent.com/14079751/50514366-01092d80-0a9e-11e9-8973-3130fa69445b.gif)

I've had a look at the visual markdown field, the headline behavior is exactly what we need!

Forma

[2018-12-28 11:46] fabianmichael commented on #16
Should be ready now. I’m not entirely sure, which characters we should target, but I focussed especially on:

- No-break space (useful for typesetting)
- Soft Hyphen (CodeMirror displays this as invalid char by default, but I think it has a right for existance when setting type. As this is always a zero-width and thus invisible character, I am also considering of always showing it, no matter wheth

[2018-12-28 11:50] fabianmichael opened #27 "Toolbar Button for special spaces"
I am often using special whitespace characters for controlling text layout. In most cases, these are:

- No-break space
- Soft hyphen
- Thin space

Maybe we should add an optional menu (just like for headline level) for inserting any of these characters and maybe some other, common special chars as well? This will especially help Windows users, who do not have convenient access for chars like the

[2018-12-28 12:41] fabianmichael commented on #27
I really like the to have a glyphs palette, like e.g. in InDesign. Only problem with that: If you got it as a modal, it’s very distracting. But you don’t want to have a floating window in a web-app either, as that does not work well on mobile. Let’s move this aside for now and focus on the planned features. Maybe optional, separate buttons for the most important features would be fine, depending o

[2018-12-28 12:43] medienbaecker opened #28 "Overwritable default buttons"
The old SimpleMDE field had this too and I found it pretty useful. In the `site/config.php` you could define:

[code]

I already started with it, but I think we need to change the `array_merge_recursive()` function in `lib/fields/markdown.php` as it doesn't allow overwriting existing props. If I understand it correctly it only adds another `buttons` to the `props` array. See https://medium.com/@kc

[2018-12-28 12:55] sylvainjule commented on #28
Overwriting existing values should be done in a `array_replace_recursive` callback.

The toolkit actually has a `A::merge` function that allows merging arrays in a cleaner way. I'm planning to replace it.

In the end, prop should probably look like this though, to allow overwriting the config on a per-field basis:

[code]
Then we'll be able to get rid of https://github.com/sylvainjule/kirby-markdo

[2018-12-28 23:10] sylvainjule opened #30 "Disable buttons when cursor is inside a kirbytag"
When the cursor / current selection is inside a kirbytag, I'd disable all the kirbytag-inserting buttons (link, email, pagelink, image, file), because as far as I know you can't nest them.

What do you think?

[2018-12-29 00:03] sylvainjule commented on #23
Please give this branch a shot and let me know any issue: https://github.com/sylvainjule/kirby-markdown-field/pull/31

[2018-12-29 08:57] medienbaecker commented on #23
Should the text selection persist after toggling the formatting? Not sure how useful that is apart from making gifs toggling it on and off, though. What do you think?

SimpleMDE:

![simplemde](https://user-images.githubusercontent.com/7975568/50535938-5f421900-0b4f-11e9-9b63-655dc61d9d11.gif)

Markdown:

![markdown](https://user-images.githubusercontent.com/7975568/50535995-15a5fe00-0b50-11e9-9824

[2018-12-29 09:02] sylvainjule commented on #23
I went for this behavior because I figured the reason you'd select the text in the first place was to apply the style, so there not much point keeping the selection afterwards. I've always been a bit bothered by selection persistence in these cases.

[2018-12-29 09:14] medienbaecker commented on #23
Totally agree. Good old Microsoft Word keeps the selection afterwards. But I guess the times you accidentally apply the wrong formatting or want to "double format" are pretty rare.

[2018-12-30 14:33] paulrobertlloyd opened #32 "Toolbar loses its stickiness in Safari"
When a blueprint has `type: textarea`, the toolbar’s stickiness behaves correctly (i.e. it remains stuck to the top of the viewport when text area has focus and as you scroll up and down). Yet upon setting `type: markdown`, this behaviour is broken, with the toolbar remaining fixed in position as you scroll. This is only the case in Safari†, in other browsers (Firefox and Chrome) everything works

[2018-12-31 08:52] sylvainjule commented on #32
https://github.com/sylvainjule/kirby-markdown-field/commit/c94339d1c1751864d0d170203ba5e294d554ed77 ✅

[2018-12-31 08:52] #32 closed

[2018-12-31 08:59] sylvainjule commented on #30
https://github.com/sylvainjule/kirby-markdown-field/commit/013bbb95eaaf39503ada39a039c989f460fb55dd

[2018-12-31 08:59] #30 closed

[2018-12-31 08:59] #16 closed

[2018-12-31 09:00] sylvainjule commented on #23
https://github.com/sylvainjule/kirby-markdown-field/pull/31

[2018-12-31 09:00] #23 closed

[2018-12-31 09:17] sylvainjule commented on #28
https://github.com/sylvainjule/kirby-markdown-field/commit/1a62cc309dd1a009e257790749e45ac9c67c6c50 ✅

[2018-12-31 09:17] #28 closed

[2018-12-31 09:27] sylvainjule opened #34 "[CSS] Some font-sizing / styling questions"
**1. Decrease monospace font-size?**

Shouldn't we decrease a little the monospace font-size (`font-size: $font-size-small`), so that it keeps the vertical rythm of the textarea field? It currently feels a bit big.
With the change:

<img width="1260" alt="capture d ecran 2018-12-30 a 17 30 18" src="https://user-images.githubusercontent.com/14079751/50557522-59327080-0ce6-11e9-91c7-ebd13cd1e52b.png

[2018-12-31 09:32] medienbaecker commented on #34
+1 for adjusting the font size.

Would `scaling: true` then also enable heading scaling for the monospace variant? While not literally "mono space" then, I think kinda miss the different sized headings in the default field.

[2018-12-31 09:42] sylvainjule commented on #34
I guess it could be available for both, with default for sans-serif being `true` and default for monospace being `false`?

[2018-12-31 10:07] medienbaecker commented on #34
Regarding the header proportions:

Personally I rarely (never) use all 6 headers, but h6 being smaller than a paragraph is still bad. In my opinion h5 and h6 could both be paragraph size.

[2018-12-31 10:53] sylvainjule opened #36 "Screenshots"
To be edited, if needed.

![screenshot](https://user-images.githubusercontent.com/14079751/50558980-b3393300-0cf2-11e9-94c0-209b89fa5cdb.jpg)

[2018-12-31 10:53] #36 closed

[2018-12-31 10:57] sylvainjule opened #37 "[CSS] Add blockquote styling"
Shouldn't we make it a bit more distinguishable? `$color-dark-grey`?

[2018-12-31 11:36] sylvainjule commented on #37
Something like:

![blockquote](https://user-images.githubusercontent.com/14079751/50559543-bf27f380-0cf8-11e9-80ee-373b6d2b593c.jpg)

[2018-12-31 11:55] sylvainjule opened #38 "Fix incrementation when adding a new ordered li"
Currently, when cursor is right after an ordered li, on click on the ordered-list button the current incrementation isn't taken into account and always insert `1. `.

![screen recording 2018-12-31 at 12 52 pm](https://user-images.githubusercontent.com/14079751/50559895-555d1900-0cfb-11e9-9136-2736fb02b395.gif)

While this will not cause any issue when rendered, this can be confusing for editors.

[2018-12-31 12:44] sylvainjule commented on #38
https://github.com/sylvainjule/kirby-markdown-field/commit/4504aaa882770f1de456f3647c36db310110ff51

[2018-12-31 12:44] #38 closed

[2019-01-01 13:40] fabianmichael commented on #34
I noticed that headline font sizes for h5 and h6 where a bit goofy when I wrote the styles, but did not spend too much attention to this, as I barely use them at att. If this can be improved, I’m quite happy with it. Just did not want to make the H1 and H2 too large, but IMHO visual hierarchy between the different headers is not a important in the frontend, as we got the Markdown indicators for th

[2019-01-01 16:39] fabianmichael opened #39 "Cursor position resets editor on saving"
When hitting <kbd>CMD+S</kbd> while editing, the cursor will jump back to the beginning of the editor field. It should stay where it was before and ideally also keep the current selection if there is one.

[2019-01-01 16:42] sylvainjule commented on #39
Latest RC? Which browser are you using? I can't reproduce.

[2019-01-01 17:56] sylvainjule commented on #34
I have fixed the h6 font-size: https://github.com/sylvainjule/kirby-markdown-field/commit/8f851fe36f12f3b073a1301108926c65bd842a05

Also, I have tried to come up with some compromise regarding the font size and scaling options (https://github.com/sylvainjule/kirby-markdown-field/commit/b4424b2553761d85fab914176e231c116eaf297f).
The font options will now return an object:

[code]

Scaling will be `

[2019-01-01 17:56] #34 closed

[2019-01-02 07:54] jschopplich opened #40 "Type text and markdown throws error in same blueprint"
The error `The field type "text" does not exist` is thrown when using `type: text` and `type: markdown` on the same blueprint. Can you reproduce?

The following blueprint won't work:
[code]

[2019-01-02 09:10] medienbaecker commented on #40
I can't reproduce this when adding a `type: text` field to the blueprint. Does it work again when removing the `intro` field? Are you on the latest RC and field version?

[2019-01-02 09:36] sylvainjule commented on #40
I cannot reproduce either, copy-pasting this exact same blueprint.
Do you have other plugins installed?

[2019-01-02 11:43] sylvainjule commented on #37
How about:

![01](https://user-images.githubusercontent.com/14079751/50590588-eebb3500-0e8b-11e9-8cd1-ce9ff5c8ba9c.jpg)

or

![02](https://user-images.githubusercontent.com/14079751/50590592-f24ebc00-0e8b-11e9-9651-a0f6071b02d3.jpg)

[code]

[2019-01-02 15:20] fabianmichael commented on #37
Number one, please! Like it besser, because without the background, it’s more distinguishable from code blocks.

[2019-01-02 15:43] sylvainjule commented on #37
https://github.com/sylvainjule/kirby-markdown-field/commit/e1e44e972ded6a02557a627b9c31851af2da31fc ✅

[2019-01-02 15:43] #37 closed

[2019-01-02 15:48] jschopplich commented on #40
Thanks for the fast support! My bad, I didn't check intensively enough. It seems to be an issue of the panel.

Yes, I use omz13's XML sitemap plugin but it doesn't injects panel js. Somehow when adding the plain folder of the markdown plugin into `site/plugins` the panel doesn't always recompile plugin assets correctly (or at all?). After deleting both folders, visiting the panel and afterwards co

[2019-01-02 15:48] #40 closed

[2019-01-02 15:51] jschopplich opened #41 "Long HTML tags explode writing area width"
I am using the `pages` preset with the bigger one (⅔ ratio) using a `type: markdown` field. No custom plugin configuration. I guess there's nothing else to say. 🙂

![grafik](https://user-images.githubusercontent.com/27850750/50599477-86317f80-0eae-11e9-9e5a-14aa56c5d46c.png)

[2019-01-02 15:53] sylvainjule commented on #41
Oh boy.

[2019-01-02 16:20] sylvainjule commented on #41
https://github.com/sylvainjule/kirby-markdown-field/commit/48e22e3345e32fda80d5829a7e92332c891347fe

[2019-01-02 16:20] #41 closed

[2019-01-02 21:07] medienbaecker opened #42 "Initial numbering of numbered lists"
I noticed that new lines in numbered lists now automatically increment the number.
That may not be required in terms of functionality, but it's definitely nice to have.

When formatting lines of text to a numbered list, it doesn't do the same, though:

![numlist](https://user-images.githubusercontent.com/7975568/50612551-9c553500-0eda-11e9-8375-605f2ed0bd2f.gif)

[2019-01-02 21:34] sylvainjule commented on #42
https://github.com/sylvainjule/kirby-markdown-field/commit/88c55aa5879622a09dad45a4cce860b65c1a04db ✅

[2019-01-02 21:34] #42 closed

[2019-01-03 11:25] sylvainjule opened #43 "Registration of custom buttons"
It would be great to be able to easily add custom buttons. The current issue is the order in which components are loaded.

Currently, each button (eg. `bold`) will look for a corresponding `k-mardown-button-bold` component, which contains a bunch of things:

- Its template (which only the headlines button overrides)
- Some data:

[code]

- An `action` method, triggered on click or shortcut:

[code

[2019-01-03 11:42] jschopplich opened #44 "Kirby translations return nothing with activated plugin"
Using:
- Kirby 3.0 RC3
- this plugin in latest version
- no other plugins

In a setup using two languages (`de` & `en`) the `t()` helper returns nothing at all across different pages.

For example use the following language file with `t('t.test')`:

[code]

[2019-01-03 11:45] sylvainjule commented on #44
Are you sure it's due to the plugin?
cf. https://github.com/k-next/kirby/issues/1307

[2019-01-03 11:59] jschopplich commented on #44
I see. Seems to be a core issue. Narrowed it down to your plugin because without it everything worked as expected. How misleading.

[2019-01-03 11:59] #44 closed

[2019-01-03 16:00] sylvainjule commented on #43
I guess one issue is that the panel is storing available components before the registration begins (https://github.com/k-next/kirby/blob/33f2108d9016c5ed1aad0cc942e37c2f09dd62c9/panel/src/config/plugins.js#L7-L9), and then checks the required `extends` component name against this cached array (https://github.com/k-next/kirby/blob/33f2108d9016c5ed1aad0cc942e37c2f09dd62c9/panel/src/config/plugins.js

[2019-01-04 11:23] sylvainjule opened #46 "Error when used within a structure field"
On creation of a new structure item (editing an existing structure item works fine):

[2019-01-04 11:37] sylvainjule commented on #46
https://github.com/sylvainjule/kirby-markdown-field/commit/1cc97f40a7f7891f152b0474bda8b18c6cde8b01

[2019-01-04 11:37] #46 closed

[2019-01-06 00:14] littlemermaidfromthesea opened #47 "Kirby revert/undo button not working"
Could it be that the revert/undo button isn't working properly?
RC3, Safari, Firefox

[2019-01-06 10:09] sylvainjule commented on #47
Some additional details might be useful: what do you mean by not working? Nothing happens ? Reverts to the wrong content? I don't seem to have issues with revert on FF or Safari, could you guide me through some exact steps causing issues for you?

[2019-01-06 19:00] littlemermaidfromthesea commented on #47
Hey! Yeah like you said, the field is not reverting any changes, nothing happens. The content just stays the same as after editing. I only tested the link and bold button though.

Today I ran into another issue in Safari only: if the textarea is bigger than the window, after scrolling and then clicking on a button in the toolbar, the toolbar loses focus and its sticky position. According to the he

[2019-01-07 12:43] sylvainjule commented on #47
I am also testing it in a multilanguage installation though, and don't have the revert issue. Any other plugin installed? Any error thrown in the console?

I have identified the second safari issue and am pushing a fix, thanks for the heads up!

[2019-01-08 18:55] littlemermaidfromthesea commented on #47
No, this is the only plugin I installed. It works as intended if it's a regular textarea field.

[2019-01-08 18:56] sylvainjule commented on #47
Could you zip me your install? Removing the sensitive parts.

[2019-01-08 18:58] littlemermaidfromthesea opened #48 "A lot of console range errors in Safari after RC4 Update if using the link button."
Hey! Sorry to be a pooface.
I just ran into the following errors (see screenshots). They only occur if I use the link-button and a modal window opens. Not with bold for instance.

<img width="993" alt="bildschirmfoto 2019-01-08 um 19 56 05" src="https://user-images.githubusercontent.com/42815796/50852412-be89ff80-137f-11e9-8a4e-2c0ed173b007.png">
<img width="991" alt="bildschirmfoto 2019-01-08 um

[2019-01-08 19:03] sylvainjule commented on #48
I could really use you current installation to try and debug this too, because I can't reproduce either.

[2019-01-08 19:06] littlemermaidfromthesea commented on #48
Hm, how do I do that? Do I just upload the whole directory somewhere?

[2019-01-08 19:12] littlemermaidfromthesea commented on #48
Ah, it happens if there's more than one markdown field on the page.

[2019-01-08 19:16] sylvainjule commented on #47
Ok, could reproduce it when there is 2+ field on the page. Will look into it.

[2019-01-08 19:30] littlemermaidfromthesea commented on #48
Cool, thx.

[2019-01-10 09:07] MathiasGmeiner opened #49 "Composer installation throws an error: not found"
I'm not able to install it with composer.

I tried it with: `composer require community/markdown-field` but I get this error:

[code]

[2019-01-10 09:23] sylvainjule commented on #49
Should be good now? Note that vendor name `community` was already taken on packagist, so I had to rename it to:

```composer require k-community/markdown-field`

[2019-01-10 19:38] sylvainjule commented on #48
https://github.com/sylvainjule/kirby-markdown-field/commit/c68faef8cf8807de0988dbffa4b6c14271a6d809

[2019-01-10 19:38] #48 closed

[2019-01-10 19:42] sylvainjule commented on #47
https://github.com/sylvainjule/kirby-markdown-field/commit/cbe34ee51e340ead470652c871c485e41b2a0171

[2019-01-10 19:42] #47 closed

[2019-01-12 01:09] luxlogica opened #50 "'Image' and 'File' Buttons Fail on Top Level of Panel"
The **image** and **file** buttons work fine inside a Page - e.g., the Home Page. But if the field is placed somewhere at the _top level_ of the panel - ie., when the field is defined inside the _'site.yml'_ blueprint - then these buttons don't work, and the user gets an error message:

<img width="457" alt="screen shot 2019-01-12 at 11 28 12 am" src="https://user-images.githubusercontent.com/2994

[2019-01-12 05:04] luxlogica opened #51 "[Bug] Unable to Override 'buttons' Option from Field Blueprint"
Let's say I define a *'default_markdown.yml'* field blueprint, which sets out all the buttons I normally want in my standard markdown fields - it looks something like this:

[code]

Now, somewhere else in my site, I'm going to extend this blueprint, wanting to override the 'buttons' option, because I want to use *less* buttons. So, I'd do something like this:

[code]

Unfortunately, when I do this

[2019-01-12 14:33] sylvainjule opened #52 "Allow custom queries for pagelink, image and file buttons"
[code]

[2019-01-12 15:13] sylvainjule commented on #52
Hmm, would get very messy to insert images / files from other pages inside kirbytags, then we'd have to deal with always keeping the correct path, etc. That was a bad idea.

I added the option to limit the page selector, though.
https://github.com/sylvainjule/kirby-markdown-field/commit/e1e1f4299935e394912cdae0f0958e47f413c0be

[2019-01-12 15:13] #52 closed

[2019-01-12 15:16] sylvainjule commented on #51
RC5? I cannot reproduce.

[2019-01-12 15:30] sylvainjule commented on #51
Oh ok, I found the issue. I tested it initially with more buttons in the extended field.

The problem is that when extending the option, the plugin isn't replacing it but merging the two. So the first 5 buttons are correctly overwritten but the additional buttons of the original field are still appended. Doesn't happen with the textarea field. I'm looking into it.

[2019-01-12 15:49] sylvainjule commented on #51
Nope, turns out the `textarea` field is behaving the same way.
I tested it with `italic` overriding `bold, italic`, so ended up with a single `italic` button only because the field is checking for duplicates (which is a nice features btw, I added it: https://github.com/sylvainjule/kirby-markdown-field/commit/956182ae938bd419b580c18ba454ac1fa6e1457a)

I've opened an issue here: https://github.com/k

[2019-01-12 15:49] #51 closed

[2019-01-16 23:54] luxlogica opened #54 "[Feature Request] 'Query' Option for Images"
The `query` option that we have for pagelink could also be useful for the image picker. Here is the use-case: I am building a one-pager, where each of the page's sections is a child page. Each one of these child pages will use the markdown field, and all of them will need to embed images into the field.

However, as they are all really part of the _same parent page_, rather than having to add a Fi

[2019-01-17 14:12] thomasfahrland opened #55 "fatal error if kirby is installed in a custom directory"
If you install Kirby in a custom directory (https://getkirby.com/docs/cookbook/installation/composer#installing-kirby-to-a-custom-directory), the plugin throws this error:
Warning: require(/var/www/htdocs/vendor/k-community/markdown-field/lib/fields/../../../../../kirby/config/fields/textarea.php): failed to open stream: No such file or directory in /var/www/htdocs/vendor/k-community/markdown-fiel

[2019-01-17 14:16] sylvainjule commented on #55
Crap. The issue is that at this point, we can't use `$kirby->roots()` because Kirby isn't fully initialized yet. Thus the hardcoded path, which is not ideal of course, but for now I see no alternative?

See also:
https://github.com/getkirby/kirby/issues/1307

[2019-01-21 09:24] SebastianEberlein opened #57 "Buttons: false throws error in Panel"
When I use the option `buttons: false` to hide all buttons, the panel shows this error:

<img width="712" alt="screenshot" src="https://user-images.githubusercontent.com/15672385/51464789-b14d1780-1d66-11e9-95f5-552c6bc2984c.png">

[2019-01-21 10:28] #57 closed, assigned to sylvainjule

[2019-01-22 12:10] sylvainjule commented on #54
Added, https://github.com/sylvainjule/kirby-markdown-field/commit/dc957ad028ccb8bdd080a4795265bc29a78bef71.
Please give it a shot and let me know it it works for you. :)

[2019-01-22 12:10] #54 closed

[2019-01-23 19:35] louiswalch opened #58 "Hide markdown."
Can the markdown characters be hidden to make this a bit more non-developer friendly? My clients would certainly be confused why "##" appears before the text once they choose to make it a heading.

[2019-01-23 20:09] sylvainjule commented on #58
Unfortunately it cannot, not easily at least (well, technically you can hide them with one CSS rule, but as you can imagine it leads to a bunch of issues).

One solution would be to combine it with Prosemirror somehow, but I think this wouldn't be worth the effort since there is a promising and good-looking Vue WYSIWYG editor ([tiptap](https://tiptap.scrumpy.io/)). It's just missing a markdown imp

[2019-01-23 20:16] sylvainjule commented on #58
Tiptap's developer just mentioned that he's currently working on this, so closing the ticket as in the near future it will be the best option. 👍

[2019-01-23 20:16] #58 closed

[2019-01-24 06:57] thomasfahrland opened #59 "Error if I choose no picture, but confirm"
An error accours, if i click on image button in editor, select no image but confirm with okay.

![screencast 2019-01-24 07-50-53](https://user-images.githubusercontent.com/24317084/51660322-aafcac80-1fad-11e9-9375-859502fd72ac.gif)

kirby-markdown-field: latest(f62b775), but also in other older versions
Kirby 3.0.0
Max OSX, Chrome latest 70.x

[2019-01-24 10:39] #59 closed

[2019-01-24 10:48] thomasfahrland commented on #59
thx for fixing. Have tested it successfully.

[2019-01-28 09:53] SamuelRiversMoore opened #60 "Kirbytags highlight problem if parenthesis"
Hi, there is a problem with the highlights of kirbytags when there is some parenthesis inside it...

Screenshot :
![capture d ecran du 2019-01-28 10-52-18](https://user-images.githubusercontent.com/2640748/51828027-f636f800-22ea-11e9-8e24-19761a8735df.png)

[2019-01-28 09:57] medienbaecker commented on #60
Isn't that problematic anyway? I remember seeing lots of Forum posts about it over the years. Not sure if Kirby 3 changed this, but I think you'd need to escape them anyway: https://forum.getkirby.com/t/escape-kirbytag-parenthesis/8300

[2019-01-28 10:09] SamuelRiversMoore commented on #60
Hm. Ok so obviously it's more a general kirbytext parsing problem... Sorry for the issue.
Of course it's not that problematic but the fact the rendering seems buggy isn't very engaging, especially for those who are willing to use of the kirbytext field with custom kirbytags...

[2019-01-28 10:20] SamuelRiversMoore commented on #60
Indeed!

[2019-01-28 16:14] sylvainjule commented on #60
I agree that although not visually satisfying, mimicking the output is the most helpful here. 🤔

Thus I'm closing this issue, please feel free to open a new ticket as soon as kirbytag's parsing changes / the idea above gets implemented, if we miss it.

[2019-01-28 16:14] #60 closed

[2019-01-31 08:14] thomasfahrland opened #61 "Browser jumps to top if no file is selectet"
If a page contains no files and I click on the file or picture button in the editor, the browser jumps up.
![bug](https://user-images.githubusercontent.com/24317084/52040709-959cfa80-2538-11e9-84f6-1536686e08dd.gif)

kirby-markdown-field: latest (1c61f8f ) and also older version
Kirby: 3.0.0
Mac OSX, Google Chrome latest (70.x)

[2019-02-01 23:41] sylvainjule commented on #61
Hmm, just had a look and I'm not sure if I can fix this.

When this happens, Kirby catches the invalid : empty query and opens an error dialog that doesn't seem to emit a unique global event, so the field cannot catch it to bring the focus back. 🤔

[2019-02-03 10:36] LeBenLeBen opened #62 "Background is splitted by returns in code blocks"
It would be awesome if the background could cover the entire block.

![capture d ecran 2019-02-03 a 11 34 58](https://user-images.githubusercontent.com/793344/52175695-f2521c80-27a7-11e9-82ac-d079b24dd929.png)

[2019-02-04 12:16] fabianmichael commented on #62
Okay, I thought I already fixed that (just tried myself and yeah … it’s still broken), but will have another look at the issue.

[2019-02-15 16:18] SebastianEberlein opened #64 "Pagelink does not return correct url for multilanguage site"
In a Kirby site with multiple languages, the Pagelink does not return the translated url.

**Kirby starterkit example:**

About page url in English: `en/about`
About page url in German: `de/ueber-uns`

When I change the language to German and use the page link to select the about page, the kirbytag that is created looks like this: `(link: about text: Link to About)`.

But should be `(link: de/uebe

[2019-02-18 09:52] medienbaecker opened #65 "Formatting characters in Kirbytags"
Writing something like `target: _blank` in e.g. a `link` Kirbytag will make the text after the paranthesis italic. Example:

![image](https://user-images.githubusercontent.com/7975568/52942327-164a5c00-336b-11e9-923b-fdf801e48a43.png)

[2019-02-20 11:30] medienbaecker commented on #43
Is this still on hold? I guess "plugins for plugins" is something that should be possible — not only for the markdown field.

[2019-02-20 15:37] medienbaecker opened #66 "Add option to disable tabs"
While using the markdown field as a replacement for the textarea field I realized I could no longer tab between fields. That's especially noticeable inside structure fields.

[2019-03-02 07:18] lukasleitsch opened #67 "Uppercase stay active on iOS"
The native behavior of writing the first character in uppercase is not working on iOS.

## Steps to reproduce
1. Open a page with an active markdown field in the iOS Safari browser
2. Set the focus into the markdown field
3. Tap the shift button on the iOS keyboard
4. Start typing a text

The markdown field writes every character in uppercase. The markdown field should write only the first charact

[2019-03-03 17:36] LudwigBogner opened #68 "Undercore creating italics"
Hello,

When using the option blank: true to enable the target _blank option for links, the text following a link will be italicised due to the underscore character.

With underscore:
![screen shot 2019-03-03 at 18 28 37](https://user-images.githubusercontent.com/2116283/53698863-7f59b700-3de2-11e9-8196-d9f497133091.png)

Without underscore:
![screen shot 2019-03-03 at 18 28 44](https://user-image

[2019-03-04 09:50] fabianmichael commented on #66
I think, we already got enough options for now and using the tab key inside a web form is rather unexpected behavior as long as you’re not in a code editor. I disabled the tab key for all instances of the editor.

[2019-03-04 09:57] fabianmichael commented on #68
Duplicate of #65

[2019-03-04 09:57] #68 closed

[2019-03-04 10:38] sylvainjule commented on #67
Unfortunately it is a [known issue](https://github.com/codemirror/CodeMirror/issues/3403) with Codemirror, with no satysfying workaround so far. I don't think we'll fix this.

[2019-03-05 20:35] distantnative commented on #55
@sylvainjule Is that problem still persisting with Kirby 3.0.3? We tried to improve the initialisation, but it might still not work for all cases.

[2019-03-12 14:40] jakobploens opened #69 "Multiple modals and page timeout when using multiple fields within builder plugin"
Seems related to #48, but in every browser. The same error message is logged to console (at least in Safari), but the issue is also visible in Chrome and Firefox. When having two or more markdown fields within a page using the builder plugin (one module multiple times), clicking one of the buttons wich trigger a modal (link, email) opens up two (or more) modals and the site freezes.

[2019-03-14 19:50] janstieler opened #70 "Strange problem with Markdown-field and Kirby-builder"
Hi,
after I installed Kirby 3.0.2 and the [Kirbybuilder](https://github.com/TimOetting/kirby-builder) I have the problem that I get an error in the panel `Cannot read property 'name' of null` where I have used the markdown-field.
After some testing I identified the headlinebuttons as the problem. If I delete all
headlinebuttons the problem was gone. But if I write `- headline` without the array of

[2019-03-17 15:31] #55 closed

[2019-03-17 15:32] sylvainjule commented on #55
Seems fixed on my end, so I switched back to calling `kirby()->root()`.

[2019-03-17 16:49] sylvainjule commented on #69
Does the latest release fix the issue?

[2019-03-18 16:55] sylvainjule commented on #70
I am closing the issue since it isn't related to the markdown field itself.

The headlines subarray not working is probably due to how the builder plugin [is cloning](https://github.com/TimOetting/kirby-builder/blob/34cfe18313fe528fc2d1db214a70ea02e669e912/config.php#L58) the field's options, somehow it the subarray causes issue and ends up being passed as `null`. Props show:

[code]

You should p

[2019-03-18 16:55] #70 closed

[2019-03-18 17:08] sylvainjule commented on #69
Just tested it with the builder and 3.0.3, it seems fixed on my end. Feel free to reopen if not.

[2019-03-18 17:08] #69 closed

[2019-03-18 17:38] sylvainjule commented on #64
It actually seems to be the correct behavior, the page dialog doesn't return any other uri, even when used separately the pages field stores the default language uri in the content file. The correct url is then retrieved with the `toPage` method.

The `link` tag accepts a[lang parameter](https://github.com/getkirby/kirby/blob/d62cc7536a709f8346eb2b1a066db835e0372128/config/tags.php#L147-L149) thou

[2019-03-18 17:38] #64 closed

[2019-04-03 12:23] medienbaecker opened #71 "Missing spellcheck option"
Seems like the spellcheck option is missing from this field.

The regular textarea field has this option, just like a regular text field.

It seems like the [option is missing in the textarea docs](https://forum.getkirby.com/t/no-spellcheck-for-textareas/13648), but it's definitely possible to set `spellcheck` to `true`.

EDIT:

The field gets the `spellcheck` attribute, but it doesn't do anything

[2019-04-04 16:49] medienbaecker opened #72 "Pagelink does not return correct model url"
When overwriting the `->url()` function in a page model like this:

[code]

…the pagelink button still inserts a regular url into the `(link:` kirbytag.

[2019-04-04 16:58] sylvainjule commented on #72
Does the pages field save the correct url for the same page?

[2019-04-04 17:01] medienbaecker commented on #72
Nope! So I guess this is more a core issue?

[2019-04-04 17:07] sylvainjule commented on #72
The dialog actually uses the `id` of the page, never its url, can you try overwriting that?

[2019-04-04 21:22] medienbaecker commented on #72
Overwriting the `->id()` function surprisingly works, too:

[code]
But this also changes the links to that page in the panel, making it unusable/inaccessible.

I don't think this is something you can fix in the markdown field, though. Sorry for the misunderstanding and thanks for your time, Sylvain!

[2019-04-04 21:22] #72 closed

[2019-05-10 09:10] fabianmichael commented on #62
@LeBenLeBen I changed a few settings in the highlighter and committed them to a branch (see above). Please test, if it fixes your problem without causing any others. If so, I’ll merge into master.

[2019-05-10 09:16] fabianmichael commented on #67
@lukasleitsch

[2019-05-10 09:18] fabianmichael commented on #67
@lukasleitsch I just updated the plugin to the latest version of CodeMirror, which seems to have solved this issue (see https://github.com/codemirror/CodeMirror/issues/3403#issuecomment-481981454). Please test, if you still got problems with the uppercase key on iOS. If not, this issue can be closed. :-)

[2019-05-10 09:28] janherman opened #73 "File upload in markdown field"
Hi!
Is there a way to preserve file upload function in markdown field? I mean the ability to upload files directly in the textarea, which was introduced in Kirby 3.1.0. As far as I can tell, file button in markdown field plugin does not offer this functionality.

[2019-05-15 06:50] lukasleitsch commented on #67
Thanks for your update. Unfortunately, your update doesn't solve the issue for me.

I used `dev-master` in the `composer.json` is there a cache that has to be deleted? To make sure any files have replaced.

[2019-05-15 13:38] LeBenLeBen commented on #62
@fabianmichael Thanks, I'll give it a try asap and come back to you.

[2019-05-17 05:22] flokuek commented on #43
I think this would be very handy to include a custom kirby tag via a custom button :)

[2019-05-17 06:58] sylvainjule commented on #43
Definitely agree, but to do this properly we have to wait for https://github.com/getkirby/ideas/issues/23

[2019-06-20 20:39] medienbaecker opened #74 "Inserting email link without text breaks the whole field"
Using the latest version of the field and Kirby 3 I noticed a particular action completely breaks the field.

If you select an email address, press the email button, and then hit the confirm button, a "Cannot read property length of null" error appears instead of the field.

![email-error](https://user-images.githubusercontent.com/7975568/59879830-ea3bf780-93ab-11e9-800a-1f6c34831c5f.gif)

Weirdly

[2019-06-21 06:23] #74 closed

[2019-06-26 07:31] medienbaecker opened #75 "Kirby 3.2.0 error"
After upgrading to Kirby 3.2.0 I noticed that the markdown field displays "e is null" or "null is not an object" while (asynchronously?) loading the panel pages.

It only happens for about half a second and the field gets loaded without a problem. Can you reproduce that?

![grafik](https://user-images.githubusercontent.com/7975568/60160198-241a5d00-97f5-11e9-9a9c-4d341a1c7f39.png)

[2019-06-27 17:23] sylvainjule commented on #75
Yes, I can reproduce this! Will look into it.

[2019-07-01 14:27] LeBenLeBen commented on #62
@fabianmichael I've checked out your branch and the problem seems to be still occurring.

I've installed with:
[code]

The file you changed seems to be updated in the source. I've force refreshed the dashboard to be sure  but no chance.

[2019-07-02 13:39] iv-agatha opened #76 "The field type "<field_name>" does not exist"
I'm using Kirby 3.2 and getting this error when using the markdown field. This is what my blueprint looks like:

[code]

![image](https://user-images.githubusercontent.com/22304204/60516614-1c9efc00-9cac-11e9-855f-c35b284be8f2.png)

[2019-07-03 09:14] medienbaecker opened #77 "Field not initiated in collapsed builder field"
This happens when using the markdown field in a [builder field](https://github.com/TimOetting/kirby-builder) and you're loading a page with collapsed fieldsets:

![builder-markdown](https://user-images.githubusercontent.com/7975568/60579456-6c9cc200-9d83-11e9-8dcf-3302f757ac95.gif)

To me it looks like the field "forgets" to initiate at the un-collapse event.

[2019-07-09 12:59] medienbaecker commented on #66
While pressing tab works now, pressing shift + tab to go back one field does not.

[2019-07-09 17:27] luxuryluke opened #78 "On by default"
I'd love it if after adding the `config` bit to my config, that I wouldn't have to add `type: markdown` on every blueprint where I have a `textarea`.
Is this possible, or am I missing something?

[2019-07-14 14:03] yeeno commented on #76
Same error here. This happend since commit Jun 13, 2019, so if you check out an older version, it will work.

[2019-07-14 16:46] Pechente commented on #76
Can't confirm. Neither the commit on May 10th does work for me, nor release 1.1.0. Seems like this bug was introduced with Kirby 3.2.

[2019-07-14 16:58] sylvainjule commented on #76
I cannot reproduce this with 3.2.2. Just copy-pasted your snippet with no error 🤔
Is it the same version you're all using?

[2019-07-14 18:42] yeeno commented on #76
I just checked it again: commit May 10th is working, commit Jun 13 has the error. I use Kirby 3.2.2.

[2019-07-15 21:13] luxuryluke opened #79 "Parsing Wikipedia links"
I've been adding a few Wikipedia links to a project for a client using the plugin for K3 and having a few issues with these types of links.
The issue is that the links from Wikipedia sometimes end in a Parenthesis like this:
https://en.wikipedia.org/wiki/Typhoon_Haiyan_(2013)

Well, this screws up the parsing of the `(link: https://en.wikipedia.org/wiki/Typhoon_Haiyan_(2013) text: Typhoon Haiyan 2

[2019-07-15 21:43] luxuryluke commented on #79
With just a little more testing, switching the `type: markdown` to `type: textarea` to use standard text entry, the same problem occurs, which means this is likely not a problem for this plugin, but for K3's own parser of markdown, of which I know very little about.

[2019-07-17 10:33] fabianmichael commented on #79
@luxuryluke Unfortunately, Kirby’s current version of Kirbytext does not support nested parenthesis in KirbyTags. While we would be able to fix the highlighter, Kirby will still not parse them as intended. But if you find standard HTML syntax too clunky, you could use the Markdown syntax for links instead.

[2019-07-19 12:21] iv-agatha commented on #76
Found the culprit: [Kirby Builder](https://github.com/TimOetting/kirby-builder). Hopefully there's a way to make them work together.

[2019-07-19 13:03] sylvainjule commented on #76
Thank you for investigating, I have suggested a way to make it work in the builder's repo, I'm closing this since it seems to be related to interferences with other plugin(s) while following the Pluginkit guidelines. Feel free to re-open if not :)

[2019-07-19 13:03] #76 closed

[2019-08-02 00:39] luxuryluke opened #80 "Smart Quotes"
Is there any way for smart quotes to be inserted while typing in a markdown textarea outside of a code block?
A customer is particularly sensitive about smart quotes.

[2019-08-06 09:58] fabianmichael commented on #80
Nope, but Kirby has a built-in Smartypants parser and field method. You can add smart quotes by calling the `$field->smartypants()` method in your templates.

See https://getkirby.com/docs/reference/templates/field-methods/smartypants

[2019-08-06 09:58] #80 closed

[2019-08-06 16:10] luxuryluke commented on #80
Oof, I feel like a dolt, now. Cheers!

[2019-08-16 11:40] helllicht opened #81 "TypeError: Cannot read property 'split' of null"
Since updating Kirby to 3.2.x (3.2.3 in our case) the panel is showing the following error when switching pages (e.g. with right/left arrows) from pages that use the markdown field.

Here's the error: `Cannot read property 'split' of null`
It also shows up as a warning in the console.

We're not quite sure if it's really an issue with the plugin or rather [something that changed in the panel ](htt

[2019-08-22 12:40] LeBenLeBen commented on #81
I confirm I have this issue as well with Kirby 3.2.3. The issue comes from this specific line:

[code]

Where `e` is `undefined`.

[2019-08-23 12:56] falkmueller commented on #77
Hi,

here my solution:

Subscribe a event to refresh the editor:
**site/plugins/kirby-markdown-field/src/components/input/MarkdownInput.vue Line 102**
[code]

Fire a event by open a tab in the kirby-builder:
**site/plugins/kirby-builder/src/components/BuilderBlock.vue Line 278**

[code]

[2019-09-03 10:00] alvarovinagre commented on #67
@fabianmichael Tried here as well, but the issue is still persisting. Even tried to set 'community.markdown-field.autocapitalize' => 'off', on the config.php, but still no results.

If anyone finds a workaround please let us know :-)

[2019-09-19 15:40] medienbaecker opened #83 "Kirby 3.2.5-rc.2 error: Cannot read property 'innerHTML' of null"
I use this plugin on a website I recently upgraded to Kirby 3.2.5-rc.2.
It now displays "The field type "markdown" does not exist" in the panel — instead of the field.

There's also an error in the console: "index.js:64 Uncaught TypeError: Cannot read property 'innerHTML' of null" referencing this line: https://github.com/sylvainjule/kirby-markdown-field/blob/master/src/assets/icons/icons.js#L1

C

[2019-09-19 15:53] medienbaecker commented on #83
Seems like it's regression in the Kirby core: https://github.com/getkirby/kirby/issues/2127

[2019-09-19 15:53] #83 closed

[2019-10-10 17:58] medienbaecker commented on #66
@fabianmichael Can you please reopen this issue?

[2019-10-23 13:34] medienbaecker opened #84 "Bold formatting expanding with space"
When adding a space to bold text, the bold formatting will expand to the following lines:

![space bold](https://user-images.githubusercontent.com/7975568/67398172-8e2bee80-f5aa-11e9-83bb-9922af544c6c.gif)

[2019-10-24 07:53] fabianmichael commented on #84
Unfortunately, the Markdown parser of CodeMirror has some differences from Parsedown (used by Kirby). I’ll have a look, but cannot promise that I can solve this.

[2019-10-31 16:09] sylvainjule commented on #81
I cannot reproduce anymore in both Kirby 3.2.5 and 3.3.0-RC4, therefore I'm closing the ticket.
If it still happens for you please mention it and I'll reopen.

[2019-10-31 16:09] #81 closed

[2019-10-31 16:13] #66 closed

[2019-10-31 17:00] sylvainjule commented on #71
I've looked into this. Since the Codemirror editor isn't a regular textarea, the browser's default `spellcheck` cannot apply.

The `disableSpellcheck` you're mentioning links to an outdated documentation, this option doesn't exist anymore.

There is a spell-check plugin (https://github.com/sparksuite/codemirror-spell-checker), but it seems that it's not maintained anymore, plus Javascript spell-ch

[2019-10-31 17:00] #71 closed

[2019-10-31 17:13] sylvainjule commented on #77
@medienbaecker is it still happening for you with Kirby 3.2.5+, the latest builder and the latest markdown field?

Seems fixed on my end.

[2019-11-04 07:19] medienbaecker commented on #77
@sylvainjule I just reproduced it in Kirby 3.3.0-rc.3 with the latest builder and markdown field:

![builder-markdown](https://user-images.githubusercontent.com/7975568/68104521-af120f00-fedb-11e9-86a0-086512cf6fea.gif)

It only works (or doesn't) when you load a page with already collapsed builder blocks.

[2019-11-04 16:27] alvarovinagre commented on #67
Thank you @sylvainjule, updating to the latest version of the plugin did it for me. 👍

[2019-11-04 18:34] sylvainjule commented on #67
That makes two of us, I'll close this then. Don't hesitate to ask to reopen if needed :)

[2019-11-04 18:34] #67 closed

[2019-11-06 01:29] luxuryluke opened #85 "Linking to other pages failing on Kirby 3.3"
I updated to Kirby 3.3 today and tried out the Editor, which went mostly brilliantly.
I think having this plugin installed next to the Editor plugin may not work well side by side, or my code is malformed. So I've uninstalled the Editor for now. I prefer the power that's available in this plugin for now.

Either way, your hybrid textarea plugin works wonderful, and I've been using it all turned on

[2019-11-06 01:30] luxuryluke commented on #85
It looks like you've updated some things in the last five days and I haven't updated your plugin for weeks. I'll give a fresh install a shot.

[2019-11-06 12:09] medienbaecker commented on #85
I experience a similar error on Kirby 3.3 using the latest version of this field:

![image](https://user-images.githubusercontent.com/7975568/68297147-7c604600-0096-11ea-9958-880aa5d77611.png)

Latest Chrome, empty media folder, only on clicking the page link button.

[2019-11-07 14:05] Foddy commented on #43
Is this possible now? I would also love to create some custom buttons 👍 !

[2019-11-12 12:59] Werbschaft commented on #85
Same for me ...

[2019-11-21 18:38] #85 closed

[2019-12-05 11:30] #77 closed

[2019-12-05 13:33] sylvainjule commented on #78
I'm really not sure this is easily feasible in K3. Will ask.

In the meantime, if you do not want to waste time changing everything manually:

[code]

[2019-12-05 18:02] bnomei commented on #78
@sylvainjule maybe one should exclude the `.git` folder or it might end up corrupting the git index.

[2019-12-07 14:29] CrisGraphics opened #86 "Pagelink: Search field does not return results"
When trying to insert a pagelink, the search field of the pages modal doesn't return any results.
Chrome 77
Kirby v3.3.1

[2019-12-07 14:43] CrisGraphics opened #87 "Image-Button: Search field returns error"
When trying to insert an image, the search field of the modal returns the following error: `No route found for path: "null" and request method: "GET"`

Chrome 77
Kirby v3.3.1

Edit: I don't know, if I should open a another issue for that, but the same error occurs with the File-Button

[2019-12-07 14:50] CrisGraphics commented on #87
I don't know, if I should open a another issue for that, but the same error occurs with the File-Button

[2020-01-11 12:33] janherman commented on #87
Maybe it is somehow connected to [this](https://github.com/getkirby/kirby/issues/2388#issue-548420306)? It could be a problem of Kirby itself.

[2020-01-14 20:40] oneismore commented on #87
I tested on a freshly downloaded 3.3.2 and got the same error. Also the search does not work with the normal textarea in this version of Kirby (nothing happens). I replaced Kirby with 3.3.3rc1 (with the fix from https://github.com/getkirby/kirby/issues/2388) and the search for the textarea now works again. But alas the markdown field still shows the same error.

[2020-02-10 10:14] trych opened #88 "Is there a way to set the target blank toggle to true by default?"
See title.
When I have the target blank toggle shown in my link field, it is set to false by default. Can this be set to true instead somehow?

Thanks!

[2020-02-10 14:24] trych opened #89 "Input text gets rendered italic after using target: _blank option"
![20200210-152143_Screenshot_GoogleChrome](https://user-images.githubusercontent.com/9803905/74157809-3678c800-4c19-11ea-8ed9-bc7ff796e682.png)

See screenshot. The underscore seems to be interpreted as a Markdown statement and renders the following input text italic. In the regular kirbytext input field this is escaped somehow and does not happen.

[2020-02-10 14:36] medienbaecker commented on #89
Duplicate of https://github.com/sylvainjule/kirby-markdown-field/issues/65

[2020-02-10 16:04] trych commented on #89
Oh, sorry, didn't see that. More users are having this problem as well, see [this post](https://forum.getkirby.com/t/markdown-field-plugin-target-blank-in-a-link-makes-following-text-italic/17202) in the Kirby forums.

Will close this.

[2020-02-10 16:04] #89 closed

[2020-02-10 16:06] trych commented on #65
To maybe give this a little bump: I have this issue, too, as well as some other users on the Kirby forums.

[2020-02-10 16:11] fabianmichael commented on #65
@trych Sorry, that this has not been tackled yet. I’m currently holding back from fixing anything, as CodeMirror 6 will soon arrive at our doorsteps (see https://codemirror.net/6/). It’s probably more feasible for us to focus on using the new CodeMirror version für the plugin as soon as the docs are ready, instead of investing lots of time in fixing the Markdown Parser in the old version.

[2020-02-17 01:53] unrulybeep opened #90 "Error Page on Installation"
Greetings all,

I am starting my journal with Kirby, and your plugin is the first I have tried. I followed the instructions, as in I download and copied contents to /site/plugins/markdown-field, and replaced textarea with
[code]
in my blueprints. However, when I attempt to create pages which have the markdown type I receive the following error: The markdown field is missing. Please add it to your

[2020-02-27 16:20] oneismore commented on #90
If you rename the folder from ```/site/plugins/markdown-field``` to ```/site/plugins/kirby-markdown-field``` it should work ;)

[2020-04-08 17:08] sylvainjule commented on #90
Apologies for the delay.

Actually, the field should be loaded no matter the name you give to the plugin.

Do you still have the issue? What's the Kirby version?

[2020-04-08 17:09] sylvainjule commented on #88
Not right now. I will add the option.

[2020-04-08 17:22] sylvainjule commented on #65
In the meantime, for this specific case I've told editors to write:

`(link: https://... target: blank)`

And in a plugin.php:

[code]

[2020-04-18 09:09] jpbagnis opened #91 "CSS Styling - Adding "states" and open/close classes"
Hi,
In the Kirby 2 version there was CSS classes such as:
`.cm-kirbytext-open
.cm-kirbytext-attribute
.cm-kirbytext-close`

Also I was able to add "states" in kirbytags-mode.js to add specifics attributes styles.
How can this be done with this version ?
Is it with the classes named "formatting-*" ?

I'm trying to style things like in the image attached.
Red -> Kirbytags / Special inserts
Blue -> T

[2020-04-26 11:06] thomasverleye opened #92 "Is there a way to control the output?"
Hi,

Love this plugin!
Is there a way to render a h1 as a h2?

Been searching the web for a sort of filter on the kirbytext but couldn't seem to find anything.

Cheers!

Thomas

[2020-04-27 05:03] medienbaecker commented on #92
There's a great plugin for things like that:
https://github.com/hananils/kirby-tree-methods#adjusting-headline-hierarchy

[2020-05-23 09:42] fabianmichael commented on #91
@jpbagnis You are probably referencing to https://github.com/JonasDoebertin/kirby-visual-markdown? While this field has clearly been an inspiration, it was not developed by us and is implemented in a completely different manner. It uses a "simple syntax mode" for Kirbytags (based on regular expressions) while our Markdown field uses a more advanced tokenizer, that is better suited for more granula

[2020-06-01 20:46] mattwolff commented on #86
Same issue in Kirby v3.3.6: Typing into the search input of a pagesDialog has no effect. Setting `search: false` works as expected in `MarkdownInput.vue`

[2020-06-07 09:38] medienbaecker opened #93 "Re-building adds scrollbar"
I just cloned the repository and ran `npm install` and `npm run build`.
Something seems to have changed because the textarea can now be scrolled.
Downloading a pre-built release works.

![CleanShot 2020-06-07 at 11 37 44](https://user-images.githubusercontent.com/7975568/83965349-56608580-a8b3-11ea-90da-d63c8966cb4d.gif)

Can you reproduce this? Did you change something after building?

[2020-06-24 21:36] tkeil69575 commented on #76
I had the same problem: for me the culprit was the plugin **kirby-color** ...

[2020-06-24 21:40] tkeil69575 opened #94 "newest version doesnt work with kirby-color"
markdown breaks if kirby-color plugin is installed ... blueprint error "field xx does not exist" ...

[2020-06-27 13:15] #92 closed

[2020-07-16 20:28] itst opened #95 "400ms per keydown event."
Hey people. I have an issue with my Kirby Panel. When typing content, the fronend slows down. Look at this. 400ms per keydown event.

![Bildschirmfoto 2020-06-24 um 09 31 31](https://user-images.githubusercontent.com/177044/87719420-9de00880-c7b3-11ea-94ed-3cc9fb8f2715.png)

Blueprint: https://pastebin.com/u15SuANU
Section: https://pastebin.com/pe3vGVVU

Any ideas?

That’s Kirby 3.3.5 and kirby-ma

[2020-08-01 20:49] mtsknn commented on #93
I can reproduce this! On Windows it looks even worse.

Seems to be related to the CodeMirror dependency. `package.json` has `"codemirror": "^5.52.2"` in `devDependencies`, i.e. the latest 5.x version is installed when running `npm install`.

Version 5.54.0 of CodeMirror was released on May 20 (see https://github.com/codemirror/CodeMirror/releases) and seems to be the version which adds the scrollb

[2020-08-05 04:57] seehat commented on #95
I have the same issue with Kirby 3.4.1 and kirby makdown 1.0.6.

[2020-09-10 23:54] janstieler opened #99 "How to set the headlinebuttons in a global config?"
Hi,
how can I reduce the headline buttons in the global configuration?
In your readme is only a instruction for all headline buttons. I don't need a H1-button.

Cheers

[2020-09-16 00:17] janstieler commented on #43
Hi,
on Kirby 3.3.0 hooks for plugins are deployed.
https://github.com/getkirby/kirby/pull/2014/files
https://getkirby.com/docs/reference/plugins/extensions/hooks

Have someone a cookbook for using this for own buttons?

Cheers

[2020-10-04 12:42] S1SYPHOS opened #100 "Add dot notation"
Hey there,
when changing a single font option, like this:

[code]

.. the other options are overwritten, and I get this:

![image](https://user-images.githubusercontent.com/12161504/95015863-bc85cb00-064f-11eb-9161-28685e04d25f.png)

.. so I'd like to do it this way (without affecting the other options):

`'community.markdown-field.font.family' => 'sans-serif'`

[2020-10-04 12:53] S1SYPHOS opened #101 "Missing translation for file dialogue"
Although default and current page language is German, the 'missing file' dialogue is in english:

![image](https://user-images.githubusercontent.com/12161504/95016128-54d07f80-0651-11eb-8723-3d10d9c194ac.png)

[2020-10-14 14:59] matthacksteiner commented on #99
Any news on this? Would love to have this option...

[2020-10-17 08:52] Werbschaft opened #102 "Image Button: wrong files queried when used in a File blueprint"
When using the Markdown field in a File Blueprint, the Images are not taken from the current page, they are taken from the site. Reference to the textarea field, there on image select the files of the current page are shown.

[2020-11-01 15:00] krisjfr opened #103 "The plugin doesn't work in Kirby 3.4.4"
Nothing change with "type: markdown" instead of "type: textarea"

[2020-11-07 10:14] eXpl0it3r commented on #103
Works "fine" for me on Kirby 3.4.4, i.e. when I set `type: markdown` I get a markdown editor

[2020-11-07 10:20] eXpl0it3r opened #104 "Styling / scrollbar issue"
## Steps to reproduce

- Get the starterkit with Kirby 3.4.4 (maybe other versions also apply)
- Change one of the blueprint to take a `type: markdown` field
- Open the panel page
- Start entering some text

## Actual Behavior

- The height of the text box is to small to start with
- The scrollbar is shown from the start
- After entering two lines of text, the second line is already vanishing to t

[2020-11-07 11:37] eXpl0it3r commented on #104
I just took a look at [CodeMirror's documentation](https://codemirror.net/doc/manual.html) and setting the `scrollbarStyle` to `null` instead of `native` already got rid of the scrollbar for me.
But there's still some spacing issue, which I guess comes from the toolbar being in the same space as the text entry field.

[2020-11-07 13:14] krisjfr commented on #103
Thanks for answering.
I’ve tried again. The only change I see while “type: markdown” is set... is a different font. But no new buttons from Mardown Fields plugin.
Where can it come from then? What do I miss ?

[2020-11-07 13:35] eXpl0it3r commented on #103
The plugin is using the same toolbar as the textarea, as such it might look the same at a first glance.
See the readme on how to configure [buttons](https://github.com/sylvainjule/kirby-markdown-field/blob/master/README.md#33-buttons).

[2020-11-11 20:08] eXpl0it3r commented on #104
I've some ["fixes"](https://github.com/sylvainjule/kirby-markdown-field/compare/master...eXpl0it3r:bugfix/scroll-issue), but they seem more like patches than actually solving the issue. Posting here, just in case someone else is interested in them. 😅

[2020-11-13 09:39] cadars commented on #99
This works, except the headlines button is now last?
[code]
![image](https://user-images.githubusercontent.com/467112/99057638-62581e00-259c-11eb-9134-4e613b93460d.png)

[2020-11-19 21:05] krisjfr commented on #103
Hi,
are you saying that the out-of-box settings for “Markdown field” plugin may not be not different from the default blueprint "type: textarea” layout ?
if yes, why not to precise it on github ?

(I’ve used the .zip version => download => unpack)

[2020-11-20 08:26] eXpl0it3r commented on #103
What I'm saying is, that if you just superficially look at the panel field, they'll look very similar, since they both use the same toolbar icons.
But once you start adding text and start formatting it, you'll notice that the markdown field will format it differently.

[2020-11-21 19:24] krisjfr commented on #103
Nope.
As I‘ve said, the field “type: markdown” is recognized by Kirby, and the font changes (ugly). But there is no new markdown options availables in formatting bar whatever I do.
I did test it on “Kirby starter” (so without my multilingual settings). Idem.
I’ve tried “Editor” and "enhanced-toolbar-link-dialog” plugins. They work “out-of-box” (zip versions).
What’s wrong (with me) ?
:-(

[2020-11-22 01:01] eXpl0it3r commented on #103
What would you expect to show up?

Here's an example I used in my blueprint:

[code]

[2020-11-22 07:06] krisjfr commented on #103
My God. You guess I did expect these options visible without doing anything but changing the field type to markdown. Thank you for your patience, Lucas. This topic is closed.

[2020-12-24 09:09] #103 closed

[2020-12-27 14:45] sylvainjule commented on #95
Apologies for the delay. The pastebin are no longer available.

Could you setup a complete starterkit where you can reproduce the issue and share it so I have a ready-to-debug example? Because I can't reproduce these performances.

Maybe related to https://github.com/getkirby/kirby/issues/2736

[2020-12-27 14:46] #91 closed

[2020-12-27 14:47] sylvainjule commented on #90
Closing this issue, don't hesitate to reopen if needed.

[2020-12-27 14:47] #90 closed

[2020-12-27 14:53] sylvainjule commented on #94
Both run fine with Kirby 3.5 in my "plugins sandbox" and a fresh starterkit, so I'm closing this. Please reopen if needed.

[2020-12-27 14:53] #94 closed

[2020-12-27 15:53] #93 closed

[2020-12-27 15:53] #104 closed

[2020-12-27 15:54] sylvainjule commented on #104
The scrollbar issue is fixed.

I have added a [size option](https://github.com/sylvainjule/kirby-markdown-field#35-size).

[2020-12-27 16:10] sylvainjule commented on #100
Hello, I can't reproduce it in my "plugins sandbox" + a fresh Starterkit with Kirby 3.5.

It shouldn't overwrite all keys indeed but only replace the key you've explicitely set, I'm using [A::merge() here](https://github.com/sylvainjule/kirby-markdown-field/blob/b5423e25d772b15cc3b1727498bd5b0f69db5f22/lib/fields/markdown.php#L46) from [Kirby's toolkit](https://getkirby.com/docs/reference/tools/a/

[2020-12-27 16:10] #100 closed

[2020-12-27 16:31] #88 closed

[2020-12-27 16:31] sylvainjule commented on #88
There is now `blank: always`

[2020-12-27 16:36] sylvainjule commented on #99
You can set it like this:

[code]

[2020-12-27 16:36] #99 closed

[2020-12-28 10:07] #61 closed

[2020-12-28 10:07] #73 closed

[2020-12-28 10:07] #87 closed

[2020-12-28 10:07] #101 closed

[2020-12-28 10:07] #102 closed

[2020-12-28 10:30] #86 closed

[2020-12-28 10:36] #62 closed

[2020-12-28 14:25] #43 closed

[2020-12-28 14:27] sylvainjule commented on #43
This is now possible (thanks to @bastianallgeier, I borrowed the registration logic from the Editor).

Documented [here](https://github.com/sylvainjule/kirby-markdown-field/tree/master/custom-buttons).

[2020-12-28 21:24] S1SYPHOS commented on #101
@sylvainjule great work, thanks!

[2021-01-02 10:10] sebastiangreger opened #105 "CSS for size presets 'large' and 'huge'"
@sylvainjule, great job on the recent updates -- thank you! :+1:

Since the pre-1.0.7 default for the markdown field size was `large`, I tried to restore the previous appearance by overriding the new default (`small`; awesome option of creating Markdown fields that look like an input field!) by applying option `'community.markdown-field.size' => 'large'` but that did not yield any effect; nor did

[2021-01-06 16:19] #105 closed

[2021-01-06 17:02] sebastiangreger commented on #105
Fantastic! Thank you for the update :bow:

[2021-01-06 17:08] sylvainjule commented on #105
You're welcome!

[2021-01-11 23:32] luxuryluke opened #106 "Attach File/Image doesn't scroll with long text"
I recently updated my plugin and along with Kirby 3.5 I'm having some trouble using the new "attachment" or "file" button on pages with long text.

I switched my blueprint to `text` and the problem goes away. Attaching a file works just fine.

Result: the mini dropdown text that holds the "Select a File" and "Upload a File" are still way up at the top of the page, hidden from view. Upon scrolling

[2021-01-14 10:26] daizumi opened #107 "file button doesn't work with 'uploads: false'"
If I set the option `uploads: false` to the Markdown field, file button stops working (doesn't open any dialogue box when clicking). The documentation says "You have access to the very same options," any idea why this isn't the case for the uploads option?

    textbody:
        label: Body
        type: markdown
        buttons:
          - file
        files: page.images
        uploads: false

[2021-01-22 15:23] sylvainjule commented on #107
Well... seems like I haven't plugged it correctly. 👀 I'll have a look!

[2021-01-27 02:03] janstieler opened #108 "Toolbar is not 100% width and is not fixed on scrolling"
Hi,

in Kirby 3.5.1 the toolbar is not filling the whole width:
![Bildschirmfoto 2021-01-27 um 02 58 53](https://user-images.githubusercontent.com/754880/105931717-fbe78580-604b-11eb-98ef-10ae6e556beb.png)
and on scrolling I have no fixed toolbar. But I know it worked before.

Best

[2021-03-03 11:47] hariom147 opened #109 "Add Kirby Block-Preview"
Any chance, that this great plugin will get a block-preview for Kirby blocks, introduced with Kirby 3.5?
Unfortunately that's beyond my capabilities...

[2021-03-14 10:19] texnixe opened #111 "[next] Add plugin version to composer.json"
Not specific to this plugin: Kirby reads a plugin's version from the `composer.json` file, so it would be useful to have this information in all plugins to be able to easily check if a plugin is up-to-date.

[2021-03-16 13:18] hansgohr commented on #109
actually it's pretty straight forward if you follow the basic block preview guide:

https://getkirby.com/docs/reference/plugins/extensions/blocks

I just gave it a try and it works like with any other custom block preview.

[2021-03-17 14:06] fabianmichael commented on #109
@lucadorata Do you mean, that the plugin should provide a Markdown block, which uses our editor?

@lucadorata @hansgohr Getting a proper preview for the Markdown field might be a bit harder, because the field value has to be parsed server-side in order to get the resulting HTML. This probably would require us to define a route/API endpoint, which is capable of returning the corresponding HTML. The

[2021-03-17 15:19] lucadorata commented on #109
@fabianmichael As you stated in your answer, that is what I meant: A built-in kirby-block with vue-like editable preview.
But actually preview would be enough (doesn't have to be editable), i.e. so that the content of the markdown-field will be rendered as html in the block-preview.
I don't understand enough of the backend-principles, but would a [vue-markdown-preview](https://miaolz123.github.io/

[2021-03-17 15:25] fabianmichael commented on #109
@lucadorata Kirby’s Markdown is an extended version, which is parsed in PHP and thus cannot be rendered by a JS-based parser alone, because of Kirbytags (e.g. `(image: …)`). Kirbytags can be extended and customized by the user and do complex things, like pulling in data from other pages, generate thumbnails etc. So the only solution for getting a proper preview would be to let the server render th

[2021-04-30 09:04] fabianmichael commented on #109
@lucadorata FYI, a new version of the plugin has now reached late alpha/early beta., based on CodeMirror 6. It replaces Kirby’s Markdown block with one, that uses our advanced editor. If you’re adventurous, you should give it a try: https://github.com/sylvainjule/kirby-markdown-field/tree/next

[2021-04-30 09:05] fabianmichael commented on #84
@medienbaecker FYI, a new version of the plugin has now reached late alpha/early beta., based on CodeMirror 6. It has a much better Markdown parser, which handles this correctly. If you’re adventurous, you should give it a try: https://github.com/sylvainjule/kirby-markdown-field/tree/next

[2021-04-30 09:06] fabianmichael commented on #65
@medienbaecker FYI: This will be resolved in the upcoming version 2 of the plugin, currently in late alpha/early beta, see https://github.com/sylvainjule/kirby-markdown-field/tree/next

[2021-04-30 09:08] fabianmichael commented on #95
@itst @seehat The upcoming version of the plugin has reached late alpha/early beta status and has a new engine (CodeMirror 6). Please give it a try and test, if the performance got better for you: https://github.com/sylvainjule/kirby-markdown-field/tree/next

[2021-05-01 13:07] lucadorata commented on #109
Thanks! I will.

[2021-05-06 08:01] sebastiangreger opened #112 "[next] Default blueprint configuration for file upload"
Hi, just kicking the tyres of the `next` branch -- love it already, the plugin API for own button logic in particular! :heart_eyes:

This is not specific to v2, since this is the same in the current version (I just never ran into it, apparently). I noticed that, when using the File button's upload option, the created images don't show up in my files section ...because I've configured a default fil

[2021-05-06 12:57] seehat commented on #95
Yes, it looks and feels nice and the performance problems are gone for me. Kudos!

[2021-05-07 11:47] fabianmichael commented on #112
@sebastiangreger Good question … currently, the editor uses a single field for handling all kinds of files. It might be a better ideas to have dedicated image and file buttons, which could then hold the corresponding config. I will definitely dig into this, as I also stumbled across this, when working with Kirby’s blocks field, because it also sets a blueprint for image uploads. We should find a g

[2021-05-07 12:00] sebastiangreger commented on #112
Maybe something like this?

[code]

or

[code]

Since this array from the blueprint should be available in the PHP script, this would be a versatile way to control these on a blueprint-to-blueprint basis? I'm thinking that using Kirby's [file types](https://getkirby.com/docs/reference/objects/cms/file/type#all-file-types) would probably be sufficiently granular?

[2021-05-09 09:44] fabianmichael commented on #95
resolved in 2.0

[2021-05-09 09:44] #95 closed

[2021-05-10 10:16] fabianmichael commented on #112
@sebastiangreger I reviewed it this morning and unfortunately, this would complicate things a bit. The field would necessarily have to define that globally (not per button), so it wouldn’t matter if a user hits the upload button or just uses drag-and-drop. We are currently using the mixins provided by Kirby’s textarea field, which don’t support multiple templates per field.

Changing this would re

[2021-05-10 10:16] #112 closed

[2021-05-10 10:23] sebastiangreger commented on #112
Sounds good :+1: I'll see if I can contribute a paragraph with an example code snippet for the readme once I get it implemented :slightly_smiling_face:

[2021-05-20 08:45] itst commented on #95
Works for me, too! Thank you, great work!

[2021-05-31 17:29] fabianmichael commented on #95
@itst

Nice to hear that! :-)

My plan was to wait for a stable CodeMirror 6 release … but that could take a while. I’ve been using the editor without any problems for several weeks now. If I don't encounter any more issues in the following weeks, I might release it earlier.

Thanks for your offering. Currently, I don’t have anything set up for receiving donations … but maybe you want to support @

[2021-06-26 12:38] sebastiangreger opened #115 "[next] Vertical scroll position lost when unfocusing Firefox"
This happens on Firefox (both Linux and Windows, current version), but not on Chromium:

When editing a text longer than the screen height, the Panel's vertical scroll position gets lost when unfocusing the browser (e.g. switching to another application and then back). The view jumps to the top of the markdown field as the browser gets unfocused and remains there when switching back to the Firefox

[2021-06-29 10:59] fabianmichael commented on #115
@sebastiangreger Thanks for reporting the Bug, I can replicate it. But I’m currently kind of clueless about what’s causing this. There have been some weird bugs with the way how Kirby’s panel is setup, i.e. the main view is inside a scrollable container with `position: absolute` and `transform: translateZ(0)` set. But even after removing these properties and declaring the `<html>` element as scrol

[2021-07-05 12:56] fabianmichael opened #116 "[next| Compatibility with Kirby 3.6"
It needs to be tested, whether the field is compatible with the upcoming Kirby version. At least the `font` option does not work at the moment.

[2021-07-06 15:19] herrajon commented on #116
Neither does the link option

`undefined is not an object (evaluating 'this.$store.state.system.info')`

[2021-07-08 14:07] sebastiangreger commented on #115
@fabianmichael Sorry this took so long: yes, I can confirm the issue appears to be solved (currently only based on a quick test run; I would follow up with you in case glitches appear in daily use later...)

Thank you for your efforts! The `next` version of this plugin is such a pleasure to work with :pray:

[2021-07-26 08:40] medienbaecker opened #117 "[next] File uploads to other page"
While you can set the files location to e.g. the site files like this:

[code]
…uploading files will still upload them to the current page.

[2021-07-28 07:46] medienbaecker commented on #117
Additionally: when setting `uploads: false` the files button does not work anymore. Both of these features are not documented so I guess they come from the core textarea field and need to be adjusted.

[2021-08-03 16:04] #115 closed

[2021-09-30 13:23] hansgohr opened #119 "Integration of AutoID for page links?"
Hi there,

do you see any chance of integrating a support for [bnomei's AutoID plugin](https://github.com/bnomei/kirby3-autoid) for internal page links?

I thought about kirbytext hooks but it feels like a direct integration would be a lot cleaner.
…plus I wouldn't really know how to do that 😅

Anyone any thoughts / solutions on that?

[2021-11-19 13:02] medienbaecker opened #123 "[next] Invisibles position is off with `font: sans-serif`"
![Screenshot-19-11-2021_14-00-50@2x](https://user-images.githubusercontent.com/7975568/142627069-86d557b8-4294-43e5-a4c5-ccf255db63dd.png)

The position of invisible characters seems to be off when `font: sans-serif` is used. They're barely visible when toggled on.

Kirby 3.6.0
Chrome 95.0.4638.69
macOS 12.0.1

[2021-12-17 10:45] fabianmichael commented on #123
@medienbaecker The correct method would probably to measure the width of a space in the sans-serif font. However, I don’t want to add that kind of complexity and I think, I found a good alternative solution by using an SVG instead of a radial gradient, which also renders nicer thanks to the power of anti-aliasing:

<img width="640" alt="Bildschirmfoto 2021-12-17 um 11 34 38" src="https://user-imag

[2021-12-17 10:45] fabianmichael commented on #123
@medienbaecker Please test and tell me, if that solves the issue for you. :-)

[2021-12-17 10:46] fabianmichael commented on #116
Does anyone still have issues with 3.6.x? If not, I would like to close this ticket. The final release of 2.0 of this field should happen quite soon now … :-)

[2021-12-17 10:47] fabianmichael commented on #111
@texnixe Thanks for the hint. I’ll do that from version 2.0 on.

[2021-12-17 10:49] fabianmichael commented on #108
Closing this, as it seemingly affects version 1.0. Version 2 will be released soon, so I won’t go into that any further. Thanks for your understanding.

[2021-12-17 10:49] #108 closed

[2021-12-17 10:49] fabianmichael commented on #107
Closing this, as it seemingly affects version 1.0. Version 2 will be released soon, so I won’t go into that any further. Thanks for your understanding.

[2021-12-17 10:49] #107 closed

[2021-12-17 10:50] fabianmichael commented on #106
Resolved in version 2.0.

Closing this, as it seemingly affects version 1.0. Version 2 will be released soon, so I won’t go into that any further. Thanks for your understanding.

[2021-12-17 10:50] #106 closed

[2021-12-17 10:51] fabianmichael commented on #109
Closing this, as the PR has already been merged.

[2021-12-17 10:51] #109 closed

[2021-12-17 10:51] fabianmichael commented on #78
Closing this, as it seemingly affects version 1.0. Version 2 will be released soon, so I won’t go into that any further. Thanks for your understanding.

[2021-12-17 10:51] #78 closed

[2021-12-17 10:52] fabianmichael commented on #84
Closing this, as it seemingly affects version 1.0. Version 2 will be released soon, so I won’t go into that any further. Thanks for your understanding.

[2021-12-17 10:52] #84 closed

[2021-12-17 10:52] fabianmichael commented on #65
Closing this, as it seemingly affects version 1.0. Version 2 will be released soon, so I won’t go into that any further. Thanks for your understanding.

[2021-12-17 10:52] #65 closed

[2021-12-17 14:50] medienbaecker commented on #123
@fabianmichael It works flawlessly, even for all the edge cases I tested like a zoomed-in editor or Safari. Great solution! 👏

[2021-12-17 14:56] medienbaecker commented on #123
I just noticed a very weird issue with soft hyphens and I think it's related to this change. Insert a soft hyphen when invisibles are turned on and you experience this oddity:

![Screenshot-17-12-2021_15-54-32](https://user-images.githubusercontent.com/7975568/146563196-7c8e79aa-7ca4-4971-95ed-baa34e90e2cb.gif)

[2021-12-19 12:32] sebastiangreger commented on #116
@fabianmichael I have not worked with Markdown texts a lot since updating to 3.6, but at least haven't noticed any obvious issues. There are a few little glitches that I haven't really been able to pinpoint quite yet, but those are merely aesthetic and likely not 3.6-related (I'll try to follow up on them in separate issues at some point).

[2021-12-20 10:23] medienbaecker commented on #123
I can reproduce it in multiple browsers, including the latest Chrome.

Steps to reproduce:

1. Write/paste some text into the field
2. Insert a [soft hyphen](https://unicode-explorer.com/c/00AD) in the middle of a word
3. The part to the right of the soft hyphen will be duplicated

[2021-12-20 14:42] fabianmichael commented on #123
@medienbaecker Now I was able to reproduce this error. It seems like this has been caused by a CodeMirror update and related to the use of decorations (used to render whitespace). I honestly don’t have to time to look into that know. I would rather keep an eye on the next Codemirror updates and try if they fix this problem.

[2021-12-21 09:55] fabianmichael commented on #123
@medienbaecker I tried to replicate this today again … and for some reason I cannot do that. Weird … has the last dependency update yesterday changed anything for you?

[2021-12-21 09:58] medienbaecker commented on #123
@fabianmichael It has indeed solved the issue for me too. We were probably the only ones noticing this and they quickly fixed it in CodeMirror without telling anyone 😅

[2021-12-21 09:58] #123 closed

[2021-12-23 17:14] fabianmichael opened #124 "[next] Upload by pasting image"
GitHub allows one to paste an image, e.g. a screenshot and uploads it directly from the clipboard. That would be a nice addition to the Markdown field, if not too complicated.

[2021-12-30 14:01] fabianmichael opened #125 "Better paste links"
When selecting text and pasting a link, the editor transforms the selected text into a link. The behavior is currently determined by Kirby’s `kirbytext` option and could be improved by adding an option for choosing between Markdown and Kirbytext syntax for links.

It also seems, that when pasting a link with a hash in it, the hash is removed from the link text, which created unnecessarily long Kir

[2022-01-12 18:33] pReya opened #126 "`font: sans-serif` not working (Invalid value)"
I just wanted to try out the sans-serif font option, however it is not working for me:

This is my blueprint:
[code]

When I open the panel, I am greeted with this:

[code]

[2022-01-12 18:44] fabianmichael commented on #126
@pReya Which version did you use? 1.x or 2.0 beta (aka ‘next’)? In the 2.0 version, this option has changed. Please note, that the new version can only be installed by downloading the `next` branch or by using it as a git submodule at the moment.

https://github.com/fabianmichael/kirby-markdown-field/tree/next

[2022-01-12 19:25] pReya commented on #126
I did read that. However I did not remember that the git link does not include the currently selected branch. So I still needed to check out the correct branch. Thanks!

[2022-01-12 19:25] #126 closed

[2022-01-13 14:56] fabianmichael commented on #111
With 2.0.0-rc1, I added the version to composer.json.

[2022-01-13 14:56] #111 closed

[2022-01-13 16:04] fabianmichael commented on #117
@medienbaecker All of these have been addressed with the latest commit. Please note, that the `files` option only determines which files are available in the filepicker. For specifying a different page for uploading, you have to use the `uploads` option and set a `parent` page.

[2022-01-13 16:04] #117 closed

[2022-01-13 16:05] fabianmichael commented on #124
This would be rather nice-to-have, but the API does not seem to be very consistent across browsers. Will close this, as it would require way too much research.

[2022-01-13 16:05] #124 closed

[2022-01-13 16:07] fabianmichael commented on #116
@afbora @bastianallgeier @lukasbestle As there have been no further complaints and I’ve been using the plugin with 3.6 for some time now, I’ll close this. It’s safe to assume, that the Markdown Field 2.0 is fully compatible with Kirby 3.6.

[2022-01-13 16:07] #116 closed

[2022-01-14 10:27] fabianmichael commented on #117
@medienbaecker Thank you very much. I just applied for the GitHub sponsors program. Will update the README, once I’m approved.

[2022-01-14 23:25] fabianmichael commented on #117
@medienbaecker I now got a [GitHub sponsors profile](https://github.com/sponsors/fabianmichael). Will update the README soon.

[2022-01-20 16:21] fabianmichael opened #130 "[next] Fix highlighting of inline code"
Inline code has a background in the editor, which should include the backticks. Current state:

![Bildschirmfoto 2022-01-20 um 17 20 15](https://user-images.githubusercontent.com/395617/150378802-d9088e82-44a1-4dcb-9896-7ea91c0d528e.png)

[2022-01-26 12:10] #130 closed

[2022-01-26 12:15] fabianmichael opened #131 "Remove depecrated substr() method"
Still used somewhere throughout the plugin, should be replaced by `slice()` or `substring()`.

[2022-02-03 12:58] owzim opened #132 "File > select not working in builder field"
Thanks for providing such a versatile field.

It is not working within the [Builder Field](https://github.com/TimOetting/kirby-builder) though

See this gif:

![markdown-field-files](https://user-images.githubusercontent.com/1720088/152347364-e5325198-738e-4bd5-a5ad-bbecdb64d7d9.gif)

No issues as a regular field in page pages.

[2022-02-03 13:02] owzim opened #133 "Feature Request: Option to set file/image template"
Right now when uploading a file or image, it will get uploaded without accompanying template file.

It would be very useful to be able to set the template in field options.

[2022-02-03 15:25] fabianmichael commented on #132
@owzim Hi and thank you for sponsorship. But unfortunately, I cannot help you with this, as the minimum requirement for the Markdown field 2.0 is Kirby 3.6 or later, which is in turn not supported by the builder field.

But the good news is, that the builder field can be substituted by the blocks field in most cases. https://getkirby.com/docs/reference/panel/fields/blocks

If you are running Kirby

[2022-02-03 15:25] #132 closed

[2022-02-03 15:39] fabianmichael commented on #133
This should really work like in the normal textarea field. I’ll have a look soon.

[2022-02-13 08:14] teichsta opened #134 "[1.0.9] Multiple MarkdownBlocks [2rc1] works but Modals do open n-times"
Hi,

first, thanks for your awesome work!

Due to some customisation i am stuck to kirby 3.5 for some time. Thus i use v1.0.9 rather than 2rc1 as it requires 3.6. Nevertheless i'd like to use the field as block editor whiich in general works fine (just copied your MarkdownBlock in my button customisation project).

However when it comes to modals it seems that in the block preview the Link and Ema

[2022-02-14 12:14] teichsta commented on #134
i`ve added `:id="_uid"` field which seems to prevent opening the other dialogs:

[code]

[2022-02-14 15:35] teichsta commented on #134
would be great if you could add these changes to the next rc (if you like)

[2022-02-15 09:27] fabianmichael commented on #134
@teichsta I’m afraid that I don’t understand? Why did you close the ticket, if this issue still exists? Using the field within a blocks/layout field should work without any additional confuguration.

[2022-02-16 07:33] teichsta commented on #134
@fabianmichael i closed the ticket, because i didn't want to bother you, sorry. I am glad that you find my findings interesting. If i'd the time i am going to provide a PR containing the above mentioned findings. Thanks again for your great work.

[2022-02-22 18:02] teichsta opened #135 "[1.0.9] Textarea does not use the disabled color when field is disabled"
In my usecase the editor is disabled due to certain permissions.

When setting the markdown field to disabled it is no longer editable (as expected). Unfortunately it doesn't completely take the disabled color (at least in my case):

![image](https://user-images.githubusercontent.com/2108636/155191566-775fc9ed-e11e-42d9-a20f-f9facd615580.png)

Is there any option which i could tweak to solve this?

[2022-02-24 12:06] fabianmichael commented on #135
@teichsta As I don’t support version 1 anymore and haven’t worked on it, I cannot really tell. But if any attribute set, you can probably easly overrise things with a custom `panel.css`, see: https://getkirby.com/docs/cookbook/panel/customizing-panel

[2022-03-31 09:28] medienbaecker opened #137 "Disabled is not disabled"
While the field gets the correct styling you can still edit text. Interestingly enough it does not save the content though.

![disabled](https://user-images.githubusercontent.com/7975568/161023592-cb29f7c1-9c98-4baa-ad72-63069ab64440.gif)

[2022-04-03 10:57] ieteo opened #138 "Tab handling"
Version: 2.0.0-rc1

Hello,

could you add an option to turn on TAB handling please

[https://codemirror.net/6/examples/tab/](https://codemirror.net/6/examples/tab/)

Thank you

[2022-04-05 09:29] fabianmichael commented on #138
Can’t promise anything, butt will have a look into this.

[2022-04-05 09:56] ieteo commented on #138
Thank you for considering it.

I believe this would be a welcome addition, since without the TAB functionality writing nested lists is of a little pain.

The activation of TAB handling itself is easy

File:   `site/plugins/markdown-field/src/components/Editor.js`

- Line **4**
   From : `import { standardKeymap} from "@codemirror/commands";`
   To : `import { standardKeymap, indentWithTab} from "@

[2022-04-14 14:38] #135 closed

[2022-04-14 14:38] #134 closed

[2022-04-20 22:36] heyfordy opened #139 "Trying to add link results in error"
Hey, not sure what the deal is but when I try to add a link from the format bar, the editor disappears and is replaced by a red error toast reading:

```Cannot read properties of undefined (reading 'info').```

Any ideas what could be causing this?

[2022-04-23 20:10] fabianmichael commented on #139
@heyfordy Can you please provide me the following information?

- Kirby version
- plugin version
- Blueprint, where the field is defined

That would help a lot with tracking down the error, thanks.

[2022-04-28 19:19] heyfordy commented on #139
Okay, looks like for some reason composer was installing version `0.1.0` (as defined by the package.json) -- I grabbed a later release from github and threw it in my plugins directory and it works fine now. I didn't even see version 0.1.0 on packagist, so I'm not sure why this version was being provided.

[2022-04-29 14:58] fabianmichael commented on #139
@heyfordy Thanks for the update, will close this ticket now.

[2022-04-29 14:58] #139 closed

[2022-05-11 12:30] alFlash opened #140 "Extension "snippets" problem with two instances of editor"
I have 2 instances of a markdown-field. Both are equal and implements the snippets Extension from the examples.
If I chose a snippet in the first editor, it is inserted to the second Instance.

[2022-05-11 15:04] fabianmichael commented on #138
@ieteo I finally had a few minutes for looking into this. I decided against adding this to the core, because I’m afraid that this already by far the largest JavaScript project I’ve ever managed, and I don’t want it to become bloated. So I added a generic extension API and added your requested feature as a separate extension to the `extension-examples/indent-with-tab` folder. Please let me know whe

[2022-05-11 15:05] fabianmichael commented on #27
Closing this, as we now have a generic extension API and I personally don’t have any resources to work on this.

[2022-05-11 15:06] fabianmichael commented on #18
Closing this, as I personally don’t have any resources to work on this.

[2022-05-11 15:06] #131 closed

[2022-05-11 16:55] fabianmichael commented on #140
@alFlash I just found the issue. The `dropdown` variable was declared globally, which lead to both editor instances picking up the dropdown of the first editor. I’ve updated the example, it should work fine now.

See https://github.com/fabianmichael/kirby-markdown-field/commit/43bf7b673aaaee14847551258d086ac8f37196ff#diff-94adf30031b45bb36c25957d1811477ed6ace4a1b40b75f03adefbfe51e20014L33-R33

[2022-05-12 07:00] alFlash commented on #140
@fabianmichael Thank you for your fast replay and work!!!
Now it works. One little issue was not fixed: If the focus is in _instance2_ and you click directly the snippets button in _instance1_ the insert will done in _instance2_ .

THX so much.

[2022-05-12 09:38] ieteo commented on #138
@fabianmichael Yes it has :-)

Thank you!

[2022-05-12 09:39] #138 closed

[2022-05-12 15:26] alFlash commented on #140
Hi, was it not reproducable?
THX

[2022-05-12 16:50] alFlash commented on #140
Ok. I understand. Any suggestions/ suppositions where I should begin to search? I suppose the button itself has to be inactive and only wake up at the first click without any other action.

[2022-05-13 13:44] fabianmichael commented on #140
@alFlash It’s kinda weird. The toolbar is usually initialized something like this:

1. A markdown input component uses reads all custom buttons and extension definitions from other plugins and Turns generates actual instances of the `Button` and `Extension` classes.
2. These are configured and are bound to a specific editor instance.
3. When a dropdown is opened, it should display the correct drop

[2022-05-13 14:21] alFlash commented on #140
Yes, its a focus problem. I solved it (for me).
Don't know if it is clean, but it works:

I added
`this.editor.focus();`

before
` this.editor.insert(value)`

so, in every case the clicked editor has the focus.

Finally the options object look like this:

[code]

Thank you.

[2022-05-13 23:37] miragecraft opened #141 "Feature request: highlighting code block based on language specified"
Since you can designate a code block to be a specific language, I feel the editor should automatically highlight the code within the code block accordingly.

[2022-05-16 17:26] fabianmichael commented on #141
@miragecraft You are absolutely right, but there’s a catch! Supporting a decent selection would require the editor to download the definitions for a lot of languages from the server. Since the plugin’s JS bundle is already around 400 kB, I really think that this would add way too much weight. Another problem is, that I would have to rewrite the whole editing part, because on the way how CodeMirror

[2022-05-16 17:26] #141 closed

[2022-05-17 18:49] janstieler opened #142 "Composer update"
Could you please update your composer package?

Thanks and cheers

[2022-05-17 18:58] medienbaecker opened #143 "Remove the narrow layout?"
Sorry for the provocative issue title.

I noticed some issues with the cursor position caused by the `narrow` layout option. It doesn't seem to be easy to fix unfortunately. CodeMirror doesn't like the two editor sizes at all. You're using [a ResizeObserver](https://github.com/fabianmichael/kirby-markdown-field/blob/43bf7b673aaaee14847551258d086ac8f37196ff/src/components/MarkdownInput.vue#L85-L91)

[2022-05-17 19:01] janstieler commented on #142
Okay, actually I just saw that it is RC.

[2022-05-18 08:08] fabianmichael commented on #142
Sorry, I’m afraid I can’t follow you …

[2022-05-18 09:33] #140 closed

[2022-05-19 14:21] felixfischer commented on #126
I ran into the same problem, but I would like to stick to the `composer` installation method. Is the next major release planned for the foreseeable future?

[2022-05-19 15:26] fabianmichael commented on #126
The main problem is, that CodeMirror is still in beta and sometimes has breaking changes, so I’m hesitating to release this as final until CM 6.0 is.

@pReya @felixfischer You can tell composer to install a branch instead of the last stable release: https://getcomposer.org/doc/articles/versions.md#branches

[2022-05-30 09:22] medienbaecker commented on #143
I see. Then I think it would make sense to further align the field to the regular textarea and use one layout only. Currently the horizontal padding is slightly smaller and the vertical padding is larger.

What do you think? I can create a PR for the style adjustments.

![markdown-textarea](https://user-images.githubusercontent.com/7975568/170938954-36ac3eb9-dab6-4b4f-a45c-94c5bc224038.gif)

[2022-05-30 10:56] fabianmichael commented on #143
@medienbaecker Yeah, let’s do this. Unfortunately, CodeMirror introduced a lot of breaking changes lately. So the step from 0.19 to 0.20 requires me to overhaul quite a few parts of the codebase. Honestly, I got zero motivation for this, but otherwise the plugin will be cut-off from any further updates. So it might be a good idea to wait with this until I’ve updated all the plugin logic, as it als

[2022-06-08 10:13] fabianmichael commented on #142
Closing this, since the was no further reaction …

[2022-06-08 10:13] #142 closed

[2022-06-08 10:14] fabianmichael commented on #137
@medienbaecker I tried to solve this, but I could not figure out how to prevent focus on the editor in disabled state … maybe you got an idea? I won’t spend any more time on this for now, though I agree that this feature should work.

[2022-06-08 10:15] fabianmichael commented on #143
@medienbaecker Everything is merged, you can begin to update the style if you want. :-)

[2022-06-08 10:16] medienbaecker commented on #137
I don't think it's too bad as it doesn't save the content.
Do you think the stable release of CodeMirror 6 will help with stuff like this? I'll try to dig into the code once I have a few free minutes.

[2022-06-08 10:18] fabianmichael commented on #137
@medienbaecker I tried with the stable release and updated all dependencies this morning, did the necessary refactoring etc. but still no luck. But I’m probably missing out something, maybe it has something to do with "Facets", some concept used for defining extensions for CM.

[2022-06-08 12:38] janstieler commented on #142
Sorry for no reaction. I havn't recognized your answer.
If i update the plugin with composer the last version would not load.
But I think you haven't updated the composer package because its actually RC and not the final release.

Cheers.

[2022-06-08 12:55] fabianmichael commented on #142
The good thing is: CodeMirror 6.0 now has a stable release. If nothing else breaks, we are close to a stable release for this plugin, too. :-)

[2022-06-22 08:39] Werbschaft opened #146 "Currently not working with Kirby 3.7"
The markdown field shows an error when using with 3.7

<img width="575" alt="Bildschirmfoto 2022-06-22 um 10 37 18" src="https://user-images.githubusercontent.com/2178466/174984079-ade4cf36-08dd-4893-956a-c8cd9473860b.png">

<img width="596" alt="Bildschirmfoto 2022-06-22 um 10 39 27" src="https://user-images.githubusercontent.com/2178466/174984308-6cf7ba65-88b9-4c9f-9c2b-b89b14b1111f.png">

[2022-06-23 11:28] fabianmichael commented on #146
@Werbschaft Thanks for pointing that out. @medienbaecker is currently working on a new PR for with style tweaks, where this has already been fixed. https://github.com/fabianmichael/kirby-markdown-field/pull/145

Please use that branch or remove the check by hand in the meantime. But we can keep this ticket open. This will likely resolved over the next few days.

[2022-06-23 11:31] Werbschaft commented on #146
I simply removed the condition and it worked perfectly. It's nice that the plugin still works so well with 3.7.

[2022-06-24 12:48] fabianmichael commented on #146
@Werbschaft We merged the style adjustments and the main branch works with 3.7 now.

[2022-06-24 12:48] #146 closed

[2022-06-24 12:58] #143 closed

[2022-06-28 10:12] S1SYPHOS opened #147 "3.7 compatibility; error on frontend"
Hey there,
when I update Kirby to v3.7, this plugin throws an `Exception`. Now, there's two things about that:

1) README states 'Kirby 3.6 or higher', but what it means is 'Kirby 3.6.x'
2) This affects the frontend (= site not working) while it should affect only the backend (= field not working).

I think 1) will go away when 3.7 compatibility arrives in the future, but 2) is something that I ca

[2022-06-28 10:30] fabianmichael commented on #147
Hi @S1SYPHOS,

It actually says `This version of the plugin requires PHP 8.0 and Kirby 3.6.0 or higher.`, which includes all 3.6.x versions for sure.

As the front-end does not load any of the plugin’s JS code, so that cannot be the reaso why your site is crashing (it could only crash the panel). But there could be some compatibility issue hidden within the PHP code. Please enable debugging and ha

[2022-06-28 10:54] S1SYPHOS commented on #147
Thanks! Anything I could do to help?

[2022-06-28 10:55] fabianmichael commented on #147
@S1SYPHOS

[2022-06-28 13:16] S1SYPHOS commented on #147
Seems that Composer / Packagist don't know of the new release, which would be helpful to people installing v2 :smile:

[2022-06-28 13:16] #147 closed

[2022-07-01 11:21] ieteo opened #148 "2.0.0 was released but composer installation provides version 1.0.9"
The release of 2.0.0 was 3 days ago, but installing this plug-in through composer installs version 1.0.9.

Trying to
`composer require k-community/markdown-field "^2.0"`

gives following error

[code]

Looking at https://packagist.org/packages/k-community/markdown-field it shows last release 2.0.0-rc3  which was released on 2022-06-08 at 10:11 UTC . Github release of 2.0.0-rc3 was on 2022-06-08T10

[2022-07-01 13:47] #148 closed

[2022-07-04 03:22] janstieler opened #149 "Get field not loaded"
Hi,
I installed the plugin with composer and if I call a field wit the type `markdown` I get the error:
![Bildschirmfoto 2022-07-04 um 05 19 48](https://user-images.githubusercontent.com/754880/177075836-9e4c168f-f88a-4dd0-9c2a-c705f9fdf48f.jpg)
with this blueprint:
[code]
this are the system output in kirby:
![Bildschirmfoto 2022-07-04 um 05 22 17](https://user-images.githubusercontent.com/754880

[2022-07-05 09:02] fabianmichael commented on #149
This is usually caused by a syntax error in the a blueprint. Please send the whole blueprint, so we can investigate this first.

[2022-07-08 14:28] #137 closed

[2022-08-05 07:05] fabianmichael commented on #149
@janstieler Have you been able to resolve this?

[2022-08-05 07:07] janstieler commented on #149
Hi,
yes I have. But what was the solution?

[2022-08-05 07:09] fabianmichael commented on #149
@janstieler Like I said earlier, that looks very much like some syntax or indentation error in your blueprint. But now it is clear that this is not an error in the plugin, so this can be closed.

[2022-08-05 07:09] #149 closed

[2022-09-07 14:53] quentin-f451 opened #156 "How to wrap string with a custom button?"
Hi there,

Is there any documentation for what is now possible with the new Extension API? The previous documentation was quite great to show various example of string manipulation but I can't find the same documentation for the new version of the plugin.

For example, I'd like to get the selected string when I click on a custom button, in order to wrap it on a custom HTML tag. I know it was possi

[2022-09-09 15:03] hariom147 opened #157 "Syntax highlighting in block preview?"
Hi @fabianmichael,

first of all: Many thanks for keeping this great plugin going.

I can't bring syntax highlighting to the block preview, so I just want to ask if that is even a built in feature (or just in my mind). If it is possible, could you point me to how to implement?

When the drawer is open, the field looks like in the [docs](https://user-images.githubusercontent.com/7975568/177973223-7

[2022-09-09 21:01] hariom147 commented on #157
Ok, i figured out I could just use the [fields block plugin](https://github.com/jongacnik/kirby-fields-block), but that somehow breaks the flow of the blocks-previews. So I guess that this is not the way block-previews are designed to be.

[2022-09-09 21:01] #157 closed

[2022-09-15 17:32] fabianmichael commented on #156
@quentin-f451 I am afraid you have to figure this out by yourself, because I’m too busy at the moment. You could for example study, how other extensions and buttons access the editor API. Alternatively, you could also try to dig deeper into CM’s docs:

- https://github.com/fabianmichael/kirby-markdown-field/tree/main/src/components/Buttons
- https://github.com/fabianmichael/kirby-markdown-field/tr

[2022-09-29 08:43] afbora opened #158 "3.8 compatibility"
- [x]  The installed version of the Markdown field plugin is not compatible with Kirby 3.8.0-rc.2
- [x] Plugin name doesn't match with getkirby.com (`community/markdown-field` vs `fabianmichael/markdown-field`)

[2022-09-29 13:50] fabianmichael commented on #158
@afbora

I’ve updated the main branch yesterday and activated the plugin. I could not find any issues with 3.8.0-rc.1. As the version contraint has been removed, is there still al problem or am I getting this wrong in some way?

This is because the ownership of the plugin has changed a few times. When Kirby 3.0 was released, @sylvainjule and me developed most of it together, based inspired by the

[2022-09-29 14:05] afbora commented on #158
Because I tested `2.0.2` not main branch. Now I've tested the main branch and seems works great 👍

I think, needed @lukasbestle thoughts here.

[2022-09-29 14:07] fabianmichael commented on #158
If I no one complains over the next days, I would risk to release a 2.0.3 update. Unfortunately, I did not use TypeScript and automated testing back then … but let’s hope for the best. ;-) There are a few other things that I have already though about, i.e. using UUIDs for links while displaying a human-readable preview in the editor. But that should not hold back a compatiblity update.

[2022-09-29 14:08] lukasbestle commented on #158
It's not necessary to change the Composer package name (although you can do that if you want). What's important to the update check is the plugin name that you provide to `Kirby::plugin()` in your `index.php`.

[2022-09-29 14:35] fabianmichael commented on #158
@lukasbestle So it’s probably less error-prone to update the name in the index.php, because otherwise everyone who uses the plugin would have to update their dependencies, right?

[2022-09-29 19:45] lukasbestle commented on #158
The name change in `index.php` and `composer.json` is completely independent from each other. Composer only cares about `composer.json` and the update check only cares about `index.php`.

I guess in the long run it makes sense to keep both consistent. Changing the Composer package name however is indeed more tricky as it is not possible to change it in Packagist without creating a new package with

[2022-09-30 08:39] fabianmichael commented on #158
@lukasbestle @afbora I’ve updated the plugin name in index.php to match composer.json for the sake of simplicity. Thanks for your explanations. :-)

[2022-09-30 08:49] afbora commented on #158
@fabianmichael Maybe we didn't fully explain. Plugin name should be same with getkirby.com uri. Currently like following:

- `Kirby::plugin('k-community/markdown-field', []);`
- https://getkirby.com/plugins/fabianmichael/markdown-field

Also we need to change the name `fabianmichael` in getkirby.com to `k-community`. Do you want me to do?

[2022-09-30 08:51] afbora commented on #158
Important things:

-  getkirby.com plugin uri: `getkirby.com/plugins/vendor/name`
- composer.json version
- plugin register name `Kirby::plugin('vendor/name')`

[2022-09-30 08:54] fabianmichael commented on #158
Ah okay, I’ll change it all to `fabianmichael/markdown-field` then. Will likely cause a some of issues for existing installations but that’s beyond my ability to deal with.

[2022-09-30 08:56] afbora commented on #158
Yes, there are two options.

1. Using `fabianmichael` instead of `k-community` in this repo.
2. Keep using it as `k-community` in this repo, but use `k-community` instead of `fabianmichael` on getkirby.com

[2022-09-30 09:20] fabianmichael commented on #158
Since I got another plugin that is not yet listed on getkirby.com (https://github.com/fabianmichael/kirby-meta) that also uses the `fabianmichael` namespace, I’ll take a second look and will update both to a unified namespace, probably `fabianmichael` or `fm`.

[2022-09-30 17:27] fabianmichael commented on #158
@afbora @lukasbestle Okay, namespace and plugin name are updated to `fabianmichael/markdown-field`. Closing this now. :-)

[2022-09-30 17:27] #158 closed

[2022-11-23 13:53] nilshoerrmann opened #159 "File upload broken"
When uploading an image via the Markdown field, I get the following error:

![Bildschirmfoto am 2022-11-23 um 14 29 06](https://user-images.githubusercontent.com/25466/203558844-fa864ab3-aae3-4aec-95e2-e49788acea3f.png)

The upload endpoint returns a 404 error:

[code]

I see that the path is not correct, it should be `http://localhost:8888/example.com/api/pages/news+title/fields/preface/upload` –